@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);

.body {
    font-family: 'Poppins', sans-serif !important;
    background-image: url(../images/banner_home.png)!important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
}
.login_none{
    display: none !important;
}
#top-navigation {
    float: right;
}
#top-menu {
    float: left;
}
#top-menu li {
    display: inline-block;
    font-size: 15px;
    padding-right: 15px;
}
#top-menu > li:last-child {
    padding-right: 0;
}
#top-menu li {
    display: inline-block;
    font-size: 15px;
}
#top-menu a, #top-menu a:hover {
    color: #FFF;
    text-decoration: none;
    display: block;
    position: relative;
    cursor: pointer;
}
.signup-btn > a, .signup-btn > a:hover  {
    border: 3px solid #00254d;
    padding: 6px 15px !important;
    background: #00254d !important;
    cursor: pointer;
}
.login-btn > a, .login-btn > a:hover {
    border: 3px solid #00254d;
    padding: 6px 15px !important;
    background: #00254d !important;
    cursor: pointer;
}
.gotoReset{
    color: #00254d !important;
    cursor: pointer;
}
.brandColor{
     color: #00254d !important;
}
.login-header {
    padding: 20px;
}
.btn {
    border-radius: 0;
    padding: 9px 12px !important;
    border-radius: 0px !important; 
}
.loginLabel{
    margin-top: 1%;
    font-weight: 200;
    font-size: 16px;
}
.form-control {
    height:40px !important;
    border-radius: 0px !important;
     padding: 10px 12px !important;
}
.btn-success {
    color: #fff;
    background-color: #00254d !important;
    border-color: #00254d !important;
}
.login-block {
    text-align: center;
    padding: 10px 5px;
   /* background: rgba(0, 0, 0, 0.75);*/
    background: #ccc;
    opacity: 0.8;
}
.login-title {
    color: #FFFFFF;
    margin: 10px auto 20px;
}
a{
    cursor: pointer;
}

#footerText {
    color: #fff !important;
    cursor: pointer;
}
.f-icon {
    height: 40px;
    width: 40px !important;
    float: left;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.iconized {
    border: none;
    box-shadow: none !important;
    width: calc(100% - 40px) !important;
    float: left;
    font-size: 15px;
    -webkit-box-shadow: 0 0 0 1000px white inset;
}
.login-botttom-txt {
    color: #FFFFFF;
    float: left;
    padding-top: 5px;
    margin: 0;
    text-align: justify;
    padding-bottom: 5px;
}
.dsplyNone{
    display: none;
}
.dsplyShow{
    display: show;
}

@media only screen and (min-width: 992px){
    .login-col {
        padding: 0 30px;
    } 
    #login-form-wrapper {
            max-width: 500px;
    margin: 15vh auto 25vh !important;
    }
    .ortext-horizontal {
        display: none;
    }
    .social-login-group {
        padding-top: 45px;
    }
    .form-group {
        margin-bottom: 25px;
    }
    #login-btn-google {
        margin-bottom: 25px;
    }
    #password-remind-wrapper {
        max-width: 400px;
        margin: 20vh auto !important;
    }
}
@media only screen and (max-width: 991px) {
    #login-form-wrapper {
            max-width: 400px;
    margin: 15vh auto 25vh !important;
    }
    .ortext-horizontal {
        margin: 30px 0;
        display: block;
    }
    .login-block {
        padding: 15px;
    }
    #password-remind-wrapper {
        max-width: 400px;
        margin: 20vh auto;
    }
}
@media only screen and (max-width: 420px) {
    #login-form-wrapper {
        max-width: 100%;
        margin: 5vh 0; 
    }
    .login-block {
        padding: 0;
    }
    #password-remind-wrapper {
        margin: 15vh auto;
    }
}
@media only screen and (max-width: 375px) {
    .signup-btn > a, .signup-btn > a:hover  {
        padding: 6px 6px !important;
    }
    .login-btn > a, .login-btn > a:hover {
        padding: 6px 6px !important;
    }
    li#menu-item-55 {
        padding-right: 4px;
    }
    .login-header {
        padding: 20px 5px;
    }
}
.fa-envelope-o:before {
    content: "" !important;
}
.fa-key:before {
    content: "" !important;
}