@media (min-width:767px) and (max-width:1080px) {
   
    .mob-pos-abs {
        position: absolute
    }
    .mob-pos-rel {
        position: relative
    }
    .select-button {
        top: 36px;
        right: 50px
    }
    .select-button.calen {
        border: 0!important
    }
    .create-employee .select-button {
        right: 16px
    }
   
    .create-employee .last-child-button .select-button {
        right: 40px;
        top: 0;
        border: 0!important
    }
    .view-employee .select-button {
        border: 0!important;
        top: 23px;
        right: 37px
    }
    .select-button.plusIcon,
    .select-button.minusIcon {
        border: none !important;
        top: -1px;
        right: 40px;
    }
    .select-button.minusIcon {
        right: 26px;
    }
    .create-employee .last-child-button .select-button button.btn.addIcon {
        padding: 4px 10px!important
    }
    .switch-field label {
        width: 48%
    }
    .mob-top-0 {
        top: 0
    }
    .flex-child {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
        flex: 0 0 48%
    }
    .form-horizontal .control-label {
        text-align: left !important;
        font-weight: 700!important
    }
    .create-project .select-button.calen {
        right: 0
    }
    .mob-width-48 {
        width: 48%;
        margin: 2px 0
    }
    .headerLeftContainer {
        width: 80%
    }
}

@media (min-width:990px) and (max-width:1100px) {
    .select-button.calen,
    .view-employee .select-button {
        top: 0
    }
    .select-button.plusIcon,
    .select-button.minusIcon {
        right: -10px !important;
    }
    .select-button.minusIcon {
        right: -24px !important;
    }
    .open>.dropdown-menu {
        margin: 12px 16px;
        left: -671% !important;
    }
    
    .medium_width100 {
        width: 100%;
    }
}

@media (min-width:768px) and (max-width:989px) {
    .open>.dropdown-menu {
        margin: 12px 16px;
        left: -671% !important;
    }
    .medium_width100{
        width: 100%;
    }
    .width60 {
    width: 70px !important;
    transition: all 1s ease-in-out;
}
}

@media (min-width:320px) and (max-width:767px) {
    .responsivemargin_top10 {
        margin-top: 10px;
    }
    .SELECTIMG1 {
        width: 50%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #ccc;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #333;
        font: 400 12px "Open Sans", sans-serif;
        background: url(../images/down-arrow.jpg) no-repeat right;
        padding-left: 5px;
        margin: 6px 0
    }
    .linkedText {
        color: #ee1610
    }
    .activeText:before,
    .linkedText:before {
        content: '';
        position: absolute;
        height: 0;
        background: 0 0;
        bottom: 0
    }

    .resp_menus {
        display: block!important
    }
    .deskTopView {
        display: none
    }
    .leftMenuParent {
        z-index: 999;
        height: 100%
    }
    .leftImg_logo {
        border: 0;
        width: auto
    }
    .headerLog {
        width: 20px
    }
    .reps_margin_btm {
        margin-bottom: 30px
    }
    .respadd0 {
        padding: 0
    }
    .configmenu {
        margin: 5px;
        background: 0 0
    }
    .configmenu ul {
        width: 100%;
        border: 1px #000 #999;
        text-align: center;
        display: grid
    }
    .configmenu ul li {
        z-index: 100;
        width: 100%
    }
    .configmenu ul li:not(.init) {
        float: left;
        display: none;
        background: #f1f2f3
    }
    .configmenu ul li:not(.init):hover,
    ul li.selected:not(.init) {
        background: #f1f2f3
    }
    .configmenu li.init {
        cursor: pointer;
        border: 1px solid #ddd
    }
    .configmenu li {
        text-align: center;

    }
    .configmenu ul li:not(.init):hover {
        background: #ee1618;
        color: #fff
    }
    .dropDownIcon {
        color: #ee1618;
        z-index: 99;
        top: 13px;
        position: absolute;
        float: right;
        text-align: right;
        left: 95%
    }
    .resLeftText {
        text-align: left
    }
    .configmenu a#submit {
        z-index: 1
    }
    .reslineheight0 {
        line-height: 0
    }
    .reslineheight2pt6 {
        line-height: 2.6
    }
    .inputClass {
        padding: 11px
    }
    input.break {
        word-wrap: break-word;
        word-break: break-all;
        height: 80px
    }
    .mob-pad-right-15 {
        padding-right: 15px
    }
    .mob-pos-abs {
        position: absolute
    }
    .mob-pos-rel {
        position: relative
    }
    .select-button {
        top: 36px;
        right: 50px
    }
    .select-button.project-calen {
        right: 18px
    }
    .view-bill .select-button {
        right: 54px
    }
    .create-employee .select-button,
    .red-icon ul.dropdown-menu {
        right: 18px
    }
    .create-employee .last-child-button .select-button {
        border: 0!important
    }
    .select-button.calen {
        border: 0!important
    }
 
    .formfooterbtns {
        display: block;
        margin: 20px
    }
    .detailoperationSection {
        padding: 10px 12px
    }
    .mob-dashboard {
        margin-top: 20px!important
    }
    .mob-dashboard .paddleft {
        padding-left: 15px
    }
    .mob-top-0 {
        top: 0
    }
    .flex-child {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
        flex: 0 0 48%
    }
    .mob-dashboard .flex-child {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 98%;
        flex: 0 0 98%
    }
    .roles-page .panel-body {
        padding: 0!important
    }
    .mob-pad-0 {
        padding: 0
    }
    .role-name {
        float: right;
        width: 50%;
        padding: 0
    }

    .dropdown-menu thead tr:last-child th {
        padding: 5px 0
    }
    .switch-field label {
        width: 48%
    }
    .dropdown .glyphicon-th {
        margin-right: 5px;
        margin-top: 7px;
    }
    .mob-no-mar {
        margin: 0!important
    }
    .todo-container {
        padding-right: 15px!important
    }
    .open>.dropdown-menu {
        margin: 12px 9px;
    }
    .form-horizontal .control-label {
        text-align: left;
        font-weight: 700!important
    }
    .mob-width-48 {
        width: 48%;
        margin: 2px 0
    }
    .select-button.plusIcon {
        top: -1px;
        right: 56px;
        border: none !important;
    }
    .select-button.plusIcon button {
        border: 1px solid #ee1610;
        padding: none !important;
    }
    .customDropDown.status.width50p {
        width: 100%;
    }
    .select-button.minusIcon {
        right: 40px;
        top: 0px;
        border: none !important;
    }
    .select-button.plusIcon button {
        border: none !important;
    }
    .responsive_textCenter {
        text-align: center;
    }
    .open>.dropdown-menu {
        margin: 12px 16px;
        left: -671% !important;
    }
    .responsive_hide{
        display: none;
    }
}

@media (min-width:320px) and (max-width:480px) {
    .responsivemargin_top10 {
        margin-top: 10px;
    }
    .rightContainer {
        margin: 0
    }
    .configdatasectionparent {
        padding: 20px 5px
    }
    td {
        font-size: 12px
    }
    .btn {
        padding: 5px 4px!important
    }
    .activeBtn,
    .defaultBtn {
        padding: 5px 10px!important
    }
    .searchSection {
        display: table;
        width: 100%
    }
    .searchSectionLeft {
        width: 100%;
        position: relative
    }
    .pagination>li>a {
        font-size: 10px;
        padding: 6px 9px
    }
    .pageTitleParent {
        margin: 40px 10px
    }
    .srchBtn {
        padding: 6px;
        width: 116px
    }
    .innerdivContainer {
        padding: 0
    }
    .card-body {
        padding: 10px 0
    }
    .mobpadding10px {
        padding: 10px
    }
    .mobpaddingTopBtm10px {
        padding: 10px 0
    }
    .mrg10px {
        margin: 10px!important
    }
    .flex-child {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
        flex: 0 0 90%
    }
    .mob-no-mar {
        margin: 0!important
    }
    .customDropDown label {
        line-height: 1.5
    }
    .responsive_textCenter {
        text-align: center;
    }
    .input_section ul li {
        font-size: 10px;
        font-family: 'Poppins', sans-serif;
        color: #525252;
        padding: 10px 0;
        font-weight: 600;
    }
    .left_text li {
        font-size: 10px !important;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        color: #525252;
        padding: 10px 0 !important;
    }
    .mrgTop5 {
        margin-top: 9px;
    }
    .anchor_text {
        color: #00254d !important;
        font-size: 12px;
        padding-left: 30px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        text-decoration: none !important;
    }
    .span_text {
        color: #333 !important;
        font-size: 12px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
    }
    .right_text li {
        font-size: 10px !important;
        font-family: 'Poppins', sans-serif;
        color: #525252;
        padding: 5px 0;
    }
    .responsive_displayNone {
        display: none;
    }
    .open>.dropdown-menu {
        margin: 12px 16px;
        left: -700% !important;
    }
    .configmenu1 li{
        font-size: 10px;
    }
}