<div id="wrapper">
    <div class="pageContainer">
        <div class="row back_clr headerheight">
            <div class="headerContainer row">
                <div class="leftImg_logo col-lg-2 col-md-2 col-sm-3 col-xs-5">

                    <div class="toggleMenuContainer">
                       <i class="fa fa-bars menuIcons" aria-hidden="true"></i>
                    </div>

                    <div class="headerLog"><img src="images/logo.png" class="medium_width100 logo_class"> </div>
                </div>
                <div class="headerRight col-lg-10 col-md-10 col-sm-9 col-xs-7">
                    <div class="headerLeftContainer deskTopView col-lg-6 col-md-6 col-sm-6 col-sm-6 padd0">
                        <span class="headerHeading capitalizeText">Add Bill</span>
                    </div>
                    <div class="width100p col-lg-6 col-md-6 col-sm-6 col-sm-6 padd0">
                        <ul class="config_fld deskTopView">
                            <!-- <li>
                <span><img src="images/message_box.png" class="message_box"></span>
            </li> -->
                            <li>
                            </li>
                            <li>
                                <span><img src="images/User.png" class="imgspc"></span>
                            </li>
                            <li class="pad0">
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                                            <!--<img src="images/button.png">-->
                                            <span class="glyphicon glyphicon-th"></span>
                                        </button>
                                    <ul class="dropdown-menu dropdown-user  menu_list">
                                        <li>
                                            <a href="#"><img src="images/new_order.png" class=" PADDRIHT15 PADDLEFT9"> User Profile</a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Settings</a>
                                        </li>
                                        <li ng-click="headerControllerScope.logout()">
                                            <a><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <ul class="config_fld resp_menus">
                            <!-- <li>
                <span><img src="images/message_box.png" class="message_box"></span>
            </li> -->
                            <li>
                                <span class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                     <!-- <img src="images/button.png"> -->
                    <span class="glyphicon glyphicon-th" style="font-size: 21.42px;"></span></button>
                                <ul class="dropdown-menu dropdown-user  menu_list">
                                    <li>
                                        <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> User Profile</a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Settings</a>
                                    </li>
                                    <li ng-click="headerControllerScope.logout(user)">
                                        <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Logout</a>
                                    </li>
                                </ul>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bodyContainer row">
            <div class="leftMenuParent responsive_hide height600 col-lg-2 col-md-2 col-sm-3 col-xs-5 padd0">
                <ng-include src="'templates/menu.html'"></ng-include>

            </div>
            <div class="rightParentDiv col-lg-10 col-md-10 col-sm-9 col-xs-12 padd0">
                <div class="rightContainer">
                    <div class="pageTitleParent">
                        <div class="pageTitletextContainer">New Bill</div>
                        <div class="innerdivContainer red-icon create-employee">
                            <form class="form-horizontal formContainer">
                                <div class="form-group row mob-pos-rel last-child-button">
                                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Vendor<span class="reqStar">*</span></label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                        <div class="customDropDown">
                                            <select class="inputClass" ng-model="billControllerScope.bill">
                                                    <option value="bangalore">Select Vendor</option>
                                                    <option value="bangalore">India</option>
                                                </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="create-employee-inner">
                                    <div class="form-group row">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Bill Number
                                                <span class="reqStar">*</span>
                                            </label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            <input type="text" name="fname" class="inputClass" placeholder="" value="123" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="form-group row mob-pos-rel last-child-button">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Bill Date
                                                <span class="reqStar">*</span> </label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            <input type="text" class="inputClass" placeholder="Select Billing Date" />
                                        </div>
                                        <span class="calen mob-right-18 mob-pos-abs select-button">
                                         <button type="button" class="btn btn-default mrgTop5 addIcon"><i class="glyphicon glyphicon-calendar"></i></button>
                                     </span>
                                    </div>
                                    <div class="form-group row mob-pos-rel last-child-button">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Due Date
                                                <span class="reqStar">*</span> </label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            <input type="text" class="inputClass" placeholder="Select Billing Date" />
                                        </div>
                                        <span class="calen mob-right-18 mob-pos-abs select-button">
                                         <button type="button" class="btn btn-default mrgTop5 addIcon"><i class="glyphicon glyphicon-calendar"></i></button>
                                     </span>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Due Amount
                                                <span class="reqStar">*</span>
                                            </label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            <input type="text" name="lname" class="inputClass" placeholder="Due Amount" />
                                        </div>
                                    </div>
                                    <div class="form-group row mob-pos-rel">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Currency Type<span class="reqStar">*</span></label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            <div class="customDropDown">
                                                <select class="inputClass">
                                                        <option value="bangalore">Select Currency Type</option>
                                                        <option value="bangalore">INR</option>
                                                    </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Comment
                                                <span class="reqStar">*</span>
                                            </label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            <textarea type="text" name="" class="inputClass" placeholder="Comment"></textarea>
                                        </div>
                                    </div>
                                    <div class="formfooterbtns">
                                        <a href="#!/bills"><button class="defaultBtn" type="button">Decline</button></a>
                                        <a href="#!/bills"><button class="activeBtn" type="button">Save</button></a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>