<div id="wrapper">
  <div class="pageContainer">
    <div class="row back_clr headerheight">
      <div class="headerContainer row">
        <div class="leftImg_logo col-lg-2 col-md-2 col-sm-3 col-xs-5">
          <div class="toggleMenuContainer">
            <i class="fa fa-bars menuIcons" aria-hidden="true"></i>
          </div>
          <div class="headerLog"><img src="images/logo.png" class="medium_width100 logo_class"> </div>
        </div>
        <div class="headerRight col-lg-10 col-md-10 col-sm-9 col-xs-7">
          <div class="headerLeftContainer deskTopView col-lg-6 col-md-6 col-sm-6 col-sm-6 padd0">
            <span class="headerHeading capitalizeText">Add Contact</span>
          </div>
          <div class="width100p col-lg-6 col-md-6 col-sm-6 col-sm-6 padd0">
            <ul class="config_fld deskTopView">
              <!-- <li>
                <span><img src="images/message_box.png" class="message_box"></span>
            </li> -->
              <li>
              </li>
              <li>
                <span><img src="images/User.png" class="imgspc"></span>
              </li>
              <li class="pad0">
                <div class="dropdown">
                  <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                    <!--<img src="images/button.png">-->
                    <span class="glyphicon glyphicon-th"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-user  menu_list">
                    <li>
                      <a href="#"><img src="images/new_order.png" class=" PADDRIHT15 PADDLEFT9"> User Profile</a>
                    </li>
                    <li>
                      <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Settings</a>
                    </li>
                    <li ng-click="headerControllerScope.logout()">
                      <a><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Logout</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
            <ul class="config_fld resp_menus">
              <!-- <li>
                <span><img src="images/message_box.png" class="message_box"></span>
            </li> -->
              <li>
                <span class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                     <!-- <img src="images/button.png"> -->
                    <span class="glyphicon glyphicon-th" style="font-size: 21.42px;"></span></button>
                <ul class="dropdown-menu dropdown-user  menu_list">
                  <li>
                    <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> User Profile</a>
                  </li>
                  <li>
                    <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Settings</a>
                  </li>
                  <li ng-click="headerControllerScope.logout(user)">
                    <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Logout</a>
                  </li>
                </ul>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="bodyContainer row">
      <div class="leftMenuParent responsive_hide height600 col-lg-2 col-md-2 col-sm-3 col-xs-5 padd0">
        <ng-include src="'templates/menu.html'"></ng-include>
      </div>
      <div class="rightParentDiv col-lg-10 col-md-10 col-sm-9 col-xs-12 padd0">
        <div class="rightContainer">
          <div class="pageTitleParent">
            <div class="pageTitletextContainer">Add Contact</div>
            <div class="innerdivContainer red-icon create-employee">
              <form class="form-horizontal formContainer" name="contactControllerScope.contactForm">
                <div class="create-employee-inner">
                  <div class="form-group row">
                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Salutation
                    </label>
                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                      
                      <div class="customDropDown">
                          <select id="select1" class="dropdown inputClass" ng-model="contactControllerScope.contact.salution">
                            <option selected="selected">Mr.</option>
                            <option>Mrs.</option>
                            <option>Dr.</option>
                          </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">First Name
                      <span class="reqStar">*</span>
                    </label>
                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                      <input type="text" name="fname" class="inputClass" ng-model="contactControllerScope.contact.fullName" placeholder="Full Name">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Middle Name
                    </label>
                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                      <input type="text" name="fname" class="inputClass" ng-model="contactControllerScope.contact.middleName" placeholder="Full Name">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Last Name
                      <span class="reqStar">*</span>
                    </label>
                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                      <input type="text" name="fname" class="inputClass" ng-model="contactControllerScope.contact.lastName" placeholder="Full Name">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Job Title
                    </label>
                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                      <input type="text" name="fname" class="inputClass" ng-model="contactControllerScope.contact.jobTitle" placeholder="Job Title">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Company Name
                    </label>
                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                      <input type="text" name="fname" class="inputClass" ng-model="contactControllerScope.contact.companyName" placeholder="Company Name">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Contact Type
                    </label>
                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                      
                       <div class="customDropDown">
                          <select id="select2" class="dropdown inputClass" ng-model="contactControllerScope.contact.contactType">
                            <option selected="selected">Mr.</option>
                            <option>Mrs.</option>
                            <option>Dr.</option>
                          </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Primary Email
                    </label>
                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                      <input type="text" name="" class="inputClass" ng-model="contactControllerScope.contact.primaryEmail" placeholder="Primary Email" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Secondary Email
                    </label>
                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                      <input type="text" name="" class="inputClass" ng-model="contactControllerScope.contact.secondaryEmail" placeholder="Secondary Email" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Primary Mailing Address
                    </label>
                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                      <input type="text" name="" class="inputClass" ng-model="contactControllerScope.contact.primaryMailingAddress" placeholder="Primary Mailing Address" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Secondary Mailing Address
                    </label>
                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                      <input type="text" name="" class="inputClass" ng-model="contactControllerScope.contact.secondaryMailingAddress" placeholder="Secondary Mailing Address" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Mobile Number1
                    </label>
                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                      <input type="text" name="" class="inputClass" ng-model="contactControllerScope.contact.mobileNumber1" placeholder="Mobile Number1" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Mobile Number2
                    </label>
                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                      <input type="text" name="" class="inputClass" ng-model="contactControllerScope.contact.mobileNumber2" placeholder="Mobile Number2" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Phone Number1
                    </label>
                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                      <input type="text" name="" class="inputClass" ng-model="contactControllerScope.contact.phoneNumber1" placeholder="Phone Number1" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Phone Number2
                    </label>
                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                      <input type="text" name="" class="inputClass" ng-model="contactControllerScope.contact.phoneNumber2" placeholder="Phone Number2" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Phone Number3
                    </label>
                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                      <input type="text" name="" class="inputClass" ng-model="contactControllerScope.contact.phoneNumber3" placeholder="Phone Number3" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Phone Number4
                    </label>
                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                      <input type="text" name="" class="inputClass" ng-model="contactControllerScope.contact.phoneNumber4" placeholder="Phone Number4" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Fax Number<span class="reqStar">*</span>
                    </label>
                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                      <input type="text" name="" class="inputClass" ng-model="contactControllerScope.contact.faxNumber" placeholder="Fax Number" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Flag Type<span class="reqStar">*</span>
                    </label>
                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                       <div class="customDropDown">
                          <select id="select3" class="dropdown inputClass" ng-model="contactControllerScope.contact.contactType">
                            <option selected="selected">Mr.</option>
                            <option>Mrs.</option>
                            <option>Dr.</option>
                          </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Website<span class="reqStar">*</span>
                    </label>
                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                      <input type="text" name="" class="inputClass" ng-model="contactControllerScope.contact.website" placeholder="Website" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Requirements<span class="reqStar">*</span>
                    </label>
                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                      <textarea type="text" name="" class="inputClass" ng-model="contactControllerScope.contact.requirements" placeholder="Requirements"></textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Notes<span class="reqStar">*</span>
                    </label>
                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                      <textarea type="text" name="" class="inputClass" ng-model="contactControllerScope.contact.notes" placeholder="Notes"></textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Comments<span class="reqStar">*</span>
                    </label>
                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                      <textarea type="text" name="" class="inputClass" ng-model="contactControllerScope.contact.comments" placeholder="Comments"></textarea>
                    </div>
                  </div>
                  <div class="formfooterbtns">
                    <button class="defaultBtn" type="button" ng-click="contactControllerScope.decline()">Decline</button>
                    <button class="activeBtn" type="button" ng-click="contactControllerScope.addContact()">Save</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
