
    <div id="wrapper">
        <div class="pageContainer">
            <div class="row back_clr headerheight">
                <div class="headerContainer row">
                    <div class="leftImg_logo col-lg-2 col-md-2 col-sm-3 col-xs-5">
                        
                        <div class="toggleMenuContainer">
                            <i class="fa fa-bars menuIcons" aria-hidden="true"></i>
                        </div>
                       
                        <div class="headerLog"><img src="images/logo.png" class="medium_width100 logo_class"> </div>
                    </div>
                    <div class="headerRight col-lg-10 col-md-10 col-sm-9 col-xs-7">
                        <div class="headerLeftContainer deskTopView col-lg-6 col-md-6 col-sm-6 col-sm-6 padd0">
                            <span class="headerHeading capitalizeText">Add Employee</span>
                        </div>
                        <div class="width100p col-lg-6 col-md-6 col-sm-6 col-sm-6 padd0">
                            <ul class="config_fld deskTopView">
                                <!-- <li>
                <span><img src="images/message_box.png" class="message_box"></span>
            </li> -->
                                <li>
                                </li>
                                <li>
                                    <span><img src="images/User.png" class="imgspc"></span>
                                </li>
                                <li class="pad0">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                                            <!--<img src="images/button.png">-->
                                            <span class="glyphicon glyphicon-th"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-user  menu_list">
                                            <li>
                                                <a href="#"><img src="images/new_order.png" class=" PADDRIHT15 PADDLEFT9"> User Profile</a>
                                            </li>
                                            <li>
                                                <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Settings</a>
                                            </li>
                                            <li ng-click="headerControllerScope.logout()">
                                                <a><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Logout</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <ul class="config_fld resp_menus">
                                <!-- <li>
                <span><img src="images/message_box.png" class="message_box"></span>
            </li> -->
                                <li>
                                    <span class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                     <!-- <img src="images/button.png"> -->
                    <span class="glyphicon glyphicon-th" style="font-size: 21.42px;"></span></button>
                                    <ul class="dropdown-menu dropdown-user  menu_list">
                                        <li>
                                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> User Profile</a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Settings</a>
                                        </li>
                                        <li ng-click="headerControllerScope.logout(user)">
                                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Logout</a>
                                        </li>
                                    </ul>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
             <div class="bodyContainer row">
                  <div class="leftMenuParent responsive_hide height600 col-lg-2 col-md-2 col-sm-3 col-xs-5 padd0">
                  <ng-include src="'templates/menu.html'"></ng-include>
                
                </div>
                <div class="rightParentDiv col-lg-10 col-md-10 col-sm-9 col-xs-12 padd0">
                    <div class="rightContainer">
                        <div class="pageTitleParent">
                            <div class="pageTitletextContainer">New Employee</div>
                            <div class="innerdivContainer red-icon create-employee">
                                <form class="form-horizontal formContainer" name="employeeControllerScope.employeeForm">
                                    <div class="form-group row mob-pos-rel">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Work Location<span class="reqStar">*</span></label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            <div class="customDropDown">
                                                    <select id="select2" class="dropdown inputClass" ng-model="employeeControllerScope.employee.workLocation">
                                                      <option selected="selected">Option 1</option>
                                                      <option>Option 2</option>
                                                      <option>Option 3</option>
                                                    </select>
                                                </div>
                                        </div>
                                        <!-- <button class="glyphicon-plus activeBtn addIcon mob-pos-abs select-button" ng-click="createEmployeeControllerScope.moveToWorkLocation()"></button> -->
                                    </div>
                                    <div class="create-employee-inner">
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Employee Id
                                                
                                            </label>
                                            <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                <input type="text" name="empId" class="inputClass" ng-model="employeeControllerScope.employee.employeeId" placeholder="Employee Id" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-4  lineheight2pt6">First Name
                                                <span class="reqStar">*</span>
                                            </label>
                                            <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                <input type="text" name="fname" class="inputClass"  ng-model="employeeControllerScope.employee.firstName" placeholder="First Name">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Middle Name
                                            </label>
                                            <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                <input type="text" name="mname" class="inputClass"  ng-model="employeeControllerScope.employee.middleName" placeholder="Middle Name" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Last Name
                                                <span class="reqStar">*</span>
                                            </label>
                                            <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                <input type="text" name="lname" class="inputClass"  ng-model="employeeControllerScope.employee.lastName" placeholder="Last Name" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Personal Contact
                                                <span class="reqStar">*</span>
                                            </label>
                                            <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                <input type="text" name="emergencyNumber" class="inputClass"  ng-model="employeeControllerScope.employee.emergencyNumber" placeholder="Personal Contact" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Primary Contact </label>
                                            <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                <input type="text" name="primaryNumber" class="inputClass"  ng-model="employeeControllerScope.employee.primaryNumber" placeholder="Primary Contact " />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Company Email
                                                <span class="reqStar">*</span>
                                            </label>
                                            <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                <input type="text" name="companyEmail" class="inputClass"  ng-model="employeeControllerScope.employee.companyEmail" placeholder="Company Email" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Personal Email
                                                
                                            </label>
                                            <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                <input type="text" name="emergencyEmail" class="inputClass"  ng-model="employeeControllerScope.employee.emergencyEmail" placeholder="Personal Email" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Gender
                                                <span class="reqStar">*</span>
                                            </label>
                                            <div class="col-sm-6 col-md-6 switch-field pad-right-0">
                                                <input type="radio" id="switch_left" name="gender" value="Male"  ng-model="employeeControllerScope.employee.gender" />
                                                <label for="switch_left" class="linheight2pt7">Male</label>
                                                <input type="radio" id="switch_right"  name="gender"  ng-model="employeeControllerScope.employee.gender"/>
                                                <label for="switch_right" class="linheight2pt7">Female</label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Aadhar Id </label>
                                            <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                <input type="text" name="adharno" class="inputClass"  ng-model="employeeControllerScope.employee.adharId" placeholder="Employee Aadhar Id" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-4  lineheight2pt6">PAN NO </label>
                                            <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                <input type="text" name="panno" class="inputClass"  ng-model="employeeControllerScope.employee.panNo" placeholder="Employee Pan Number" />
                                            </div>
                                        </div>
                                        <div class="form-group row mob-pos-rel">
                                            <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Birth Date </label>
                                            <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                <input type="text" name="dateOfBirth" class="inputClass" datepicker-popup="{{format}}" ng-click="employeeControllerScope.opendateOfBirthCalender($event)"  ng-model="employeeControllerScope.employee.birthday"  is-open="employeeControllerScope.dateOfBirthCalender" placeholder="Select Date Of Birth" show-button-bar="false" />
                                            </div>
                                            <span class="mob-pos-abs select-button calen mob-right-18">
                                         <button type="button" class="btn btn-default mrgTop5 addIcon" ng-click="employeeControllerScope.opendateOfBirthCalender($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                     </span>
                                        </div>
                                        <div class="form-group row mob-pos-rel">
                                            <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Employee Type </label>
                                            <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                <div class="customDropDown">
                                                    <select id="select1" class="dropdown inputClass" ng-model="employeeControllerScope.employee.employeeType">
                                                      <option selected="selected">Option 1</option>
                                                      <option>Option 2</option>
                                                      <option>Option 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <!-- <button class="glyphicon-plus activeBtn addIcon mob-pos-abs select-button mob-right-18" ng-click="createEmployeeControllerScope.moveToEmplyType()"></button> -->
                                        </div>
                                        <div class="form-group row mob-pos-rel">
                                            <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Reporting To </label>
                                            <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                <div class="pos-rel">
                                                    <input type="text" name="reportingTo" class="inputClass" ng-model="employeeControllerScope.employee.reportingTo" placeholder="Select Reporting To" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mob-pos-rel">
                                            <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Department </label>
                                            <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                
                                                <div class="customDropDown">
                                                    <select id="select3" class="dropdown inputClass" ng-model="employeeControllerScope.employee.department">
                                                      <option selected="selected">Option 1</option>
                                                      <option>Option 2</option>
                                                      <option>Option 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <!--  <button class="glyphicon-plus activeBtn addIcon mob-pos-abs select-button mob-right-18" ng-click="createEmployeeControllerScope.moveToDepartment()"></button> -->
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Title
                                                
                                            </label>
                                            <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                <input type="text" name="emptitle" class="inputClass"  ng-model="employeeControllerScope.employee.title" placeholder="Employee Title At Organization" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Job Description </label>
                                            <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                <input type="text" name="jobdesc" class="inputClass"  ng-model="employeeControllerScope.employee.jobDescription" placeholder="Job Description" />
                                            </div>
                                        </div>
                                      
                                        <div class="form-group row mob-pos-rel">
                                            <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Start Date </label>
                                            <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                <input type="text" name="dateOfBirth" class="inputClass" datepicker-popup="{{format}}" ng-click="employeeControllerScope.openstartCalender($event)"  ng-model="employeeControllerScope.employee.startDate"  is-open="employeeControllerScope.startCalender" placeholder="Start Date" show-button-bar="false" />
                                            </div>
                                            <span class="mob-pos-abs select-button calen mob-right-18">
                                         <button type="button" class="btn btn-default mrgTop5 addIcon" ng-click="employeeControllerScope.openstartCalender($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                     </span>
                                        </div>
                                        <div class="formfooterbtns">
                                            <button class="defaultBtn" type="button"  ng-click="employeeControllerScope.decline()">Decline</button>
                                              <button class="activeBtn" type="button" ng-click="employeeControllerScope.addEmployee()">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
