
    <div id="wrapper">
        <div class="pageContainer">
            <div class="row back_clr headerheight">
                <div class="headerContainer row">
                   <div class="leftImg_logo col-lg-2 col-md-2 col-sm-3 col-xs-5">
                       
                        <div class="toggleMenuContainer">
                           <i class="fa fa-bars menuIcons" aria-hidden="true"></i>
                        </div>
                        
                        <div class="headerLog"><img src="images/logo.png" class="medium_width100 logo_class"> </div>
                    </div>
                     <div class="headerRight col-lg-10 col-md-10 col-sm-9 col-xs-7">
                        <div class="headerLeftContainer deskTopView col-lg-6 col-md-6 col-sm-6 col-sm-6 padd0">
                            <span class="headerHeading capitalizeText">Add Lead</span>
                        </div>
                        <div class="width100p col-lg-6 col-md-6 col-sm-6 col-sm-6 padd0">
                            <ul class="config_fld deskTopView">
                                <!-- <li>
                <span><img src="images/message_box.png" class="message_box"></span>
            </li> -->
                                <li>
                                </li>
                                <li>
                                    <span><img src="images/User.png" class="imgspc"></span>
                                </li>
                                <li class="pad0">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                                            <!--<img src="images/button.png">-->
                                            <span class="glyphicon glyphicon-th"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-user  menu_list">
                                            <li>
                                                <a href="#"><img src="images/new_order.png" class=" PADDRIHT15 PADDLEFT9"> User Profile</a>
                                            </li>
                                            <li>
                                                <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Settings</a>
                                            </li>
                                            <li ng-click="headerControllerScope.logout()">
                                                <a><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Logout</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <ul class="config_fld resp_menus">
                                <!-- <li>
                <span><img src="images/message_box.png" class="message_box"></span>
            </li> -->
                                <li>
                                    <span class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                     <!-- <img src="images/button.png"> -->
                    <span class="glyphicon glyphicon-th" style="font-size: 21.42px;"></span></button>
                                    <ul class="dropdown-menu dropdown-user  menu_list">
                                        <li>
                                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> User Profile</a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Settings</a>
                                        </li>
                                        <li ng-click="headerControllerScope.logout(user)">
                                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Logout</a>
                                        </li>
                                    </ul>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
             <div class="bodyContainer row">
                  <div class="leftMenuParent responsive_hide height600 col-lg-2 col-md-2 col-sm-3 col-xs-5 padd0">
                  <ng-include src="'templates/menu.html'"></ng-include>
                
                </div>
                <div class="rightParentDiv col-lg-10 col-md-10 col-sm-9 col-xs-12 padd0">
                    <div class="rightContainer">
                        <div class="pageTitleParent">
                            <div class="pageTitletextContainer">New Lead</div>
                            <div class="innerdivContainer red-icon create-employee">
                                <form class="form-horizontal formContainer">
                                    <div class="create-employee-inner">
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Lead Name
                                                <span class="reqStar">*</span>
                                            </label>
                                            <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                <input type="text" name="fname" class="inputClass" placeholder="Lead Name">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Lead Status
                                            </label>
                                            <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                <div class="customDropDown">
                                                    <select id="select1" class="dropdown inputClass" ng-model="employeeControllerScope.employee.department">
                                                      <option selected="selected">Option 1</option>
                                                      <option>Option 2</option>
                                                      <option>Option 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Lead Source
                                            </label>
                                            <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                 <div class="customDropDown">
                                                    <select id="select2" class="dropdown inputClass" ng-model="employeeControllerScope.employee.department">
                                                      <option selected="selected">Option 1</option>
                                                      <option>Option 2</option>
                                                      <option>Option 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Lead Industry
                                            </label>
                                            <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                 <div class="customDropDown">
                                                    <select id="select3" class="dropdown inputClass" ng-model="employeeControllerScope.employee.department">
                                                      <option selected="selected">Option 1</option>
                                                      <option>Option 2</option>
                                                      <option>Option 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Mobile Number
                                            </label>
                                            <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                <input type="text" name="fname" class="inputClass" placeholder="Mobile Number">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Phone Number
                                            </label>
                                            <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                <input type="text" name="fname" class="inputClass" placeholder="Phone Number">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Email
                                            </label>
                                            <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                <input type="text" name="fname" class="inputClass" placeholder="Lead Email">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Address
                                            </label>
                                            <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                <input type="text" name="fname" class="inputClass" placeholder="Address">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Comment
                                            </label>
                                            <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                <textarea type="text" name="" class="inputClass" placeholder="Comment"></textarea>
                                            </div>
                                        </div>
                                        <div class="formfooterbtns">
                                            <a href="#!/leads"><button class="defaultBtn" type="button">Decline</button></a>
                                            <a href="#!/leads"><button class="activeBtn" type="button">Save</button></a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
