<div id="wrapper">
    <div class="pageContainer">
        <div class="row back_clr headerheight">
            <div class="headerContainer row">
                <div class="leftImg_logo col-lg-2 col-md-2 col-sm-3 col-xs-5">

                    <div class="toggleMenuContainer">
                       <i class="fa fa-bars menuIcons" aria-hidden="true"></i>
                    </div>

                    <div class="headerLog"><img src="images/logo.png" class="medium_width100 logo_class"> </div>
                </div>
                <div class="headerRight col-lg-10 col-md-10 col-sm-9 col-xs-7">
                    <div class="headerLeftContainer deskTopView col-lg-6 col-md-6 col-sm-6 col-sm-6 padd0">
                        <span class="headerHeading capitalizeText">Add Project</span>
                    </div>
                    <div class="width100p col-lg-6 col-md-6 col-sm-6 col-sm-6 padd0">
                        <ul class="config_fld deskTopView">
                            <!-- <li>
                <span><img src="images/message_box.png" class="message_box"></span>
            </li> -->
                            <li>
                            </li>
                            <li>
                                <span><img src="images/User.png" class="imgspc"></span>
                            </li>
                            <li class="pad0">
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                                            <!--<img src="images/button.png">-->
                                            <span class="glyphicon glyphicon-th"></span>
                                        </button>
                                    <ul class="dropdown-menu dropdown-user  menu_list">
                                        <li>
                                            <a href="#"><img src="images/new_order.png" class=" PADDRIHT15 PADDLEFT9"> User Profile</a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Settings</a>
                                        </li>
                                        <li ng-click="headerControllerScope.logout()">
                                            <a><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <ul class="config_fld resp_menus">
                            <!-- <li>
                <span><img src="images/message_box.png" class="message_box"></span>
            </li> -->
                            <li>
                                <span class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                     <!-- <img src="images/button.png"> -->
                    <span class="glyphicon glyphicon-th" style="font-size: 21.42px;"></span></button>
                                <ul class="dropdown-menu dropdown-user  menu_list">
                                    <li>
                                        <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> User Profile</a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Settings</a>
                                    </li>
                                    <li ng-click="headerControllerScope.logout(user)">
                                        <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Logout</a>
                                    </li>
                                </ul>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bodyContainer row">
            <div class="leftMenuParent responsive_hide height600 col-lg-2 col-md-2 col-sm-3 col-xs-5 padd0">
                <ng-include src="'templates/menu.html'"></ng-include>
            </div>
            <div class="rightParentDiv col-lg-10 col-md-10 col-sm-9 col-xs-12 padd0">
                <div class="rightContainer">
                    <div class="pageTitleParent">
                        <div class="pageTitletextContainer">New Project</div>
                        <div class="innerdivContainer red-icon create-employee">
                            <form class="form-horizontal formContainer">
                                <div class="form-group row mob-pos-rel">
                                    <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Choose Customer</label>
                                    <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                         <div class="customDropDown">
                          <select id="select1" class="dropdown inputClass" ng-model="contactControllerScope.project.chooseCustomer">
                            <option selected="selected">Mr.</option>
                            <option>Mrs.</option>
                            <option>Dr.</option>
                          </select>
                      </div>
                                    </div>
                                </div>
                                <div class="create-employee-inner">
                                    <div class="form-group row">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Project Name
                                                <span class="reqStar">*</span>
                                            </label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            <input type="text" name="projectName" class="inputClass" ng-model="projectControllerScope.project.projectName" placeholder="Project Name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Display Name
                                                <span class="reqStar">*</span>
                                            </label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            <input type="text" name="fname" class="inputClass" ng-model="projectControllerScope.project.projectName" placeholder="Display Name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Project Code
                                                <span class="reqStar">*</span>
                                            </label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            <input type="text" name="displayName" class="inputClass" ng-model="projectControllerScope.project.displayName" placeholder="Project Code">
                                        </div>
                                    </div>
                                    <div class="form-group row mob-pos-rel last-child-button">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Start Date
                                                <span class="reqStar">*</span> </label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            <input type="text" name="startDate" class="inputClass" datepicker-popup="{{format}}" ng-click="projectControllerScope.openstartCalender($event)"  ng-model="projectControllerScope.project.startDate"  is-open="projectControllerScope.startCalender" show-button-bar="false" placeholder="Start Date" />
                                        </div>
                                        <span class="calen mob-right-18 mob-pos-abs select-button">
                                         <button type="button" ng-click="projectControllerScope.openstartCalender($event)" class="btn btn-default mrgTop5 addIcon"><i class="glyphicon glyphicon-calendar"></i></button>
                                     </span>
                                    </div>
                                    <div class="form-group row mob-pos-rel last-child-button">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">End Date
                                                <span class="reqStar">*</span> </label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            <input type="text" name="endDate" class="inputClass" datepicker-popup="{{format}}" ng-click="projectControllerScope.openendCalender($event)"  ng-model="projectControllerScope.project.endDate"  is-open="projectControllerScope.endCalender" show-button-bar="false" placeholder="End Date" />
                                        </div>
                                        <span class="calen mob-right-18 mob-pos-abs select-button">
                                         <button type="button" ng-click="projectControllerScope.openendCalender($event)" class="btn btn-default mrgTop5 addIcon"><i class="glyphicon glyphicon-calendar"></i></button>
                                     </span>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Project Duration
                                                <span class="reqStar">*</span>
                                            </label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            <input type="text" name="projectDuration" class="inputClass" ng-model="projectControllerScope.project.projectDuration" placeholder="Project Duration in Months" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Comments
                                                <span class="reqStar">*</span>
                                            </label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            <textarea type="text" name="comment" class="inputClass" ng-model="projectControllerScope.project.comment" placeholder="Comments"></textarea>
                                        </div>
                                    </div>
                                    <div class="formfooterbtns">
                                        <button class="defaultBtn" type="button" ng-click="projectControllerScope.decline()">Decline</button>
                                        <button class="activeBtn" type="button" ng-click="projectControllerScope.addProject()">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>