
    <div id="wrapper">
        <div class="pageContainer">
            <div class="row back_clr headerheight">
                <div class="headerContainer row">
                    <div class="leftImg_logo col-lg-2 col-md-2 col-sm-3 col-xs-5">
                       
                        <div class="toggleMenuContainer">
                            <i class="fa fa-bars menuIcons" aria-hidden="true"></i>
                        </div>
                        
                        <div class="headerLog"><img src="images/logo.png" class="medium_width100 logo_class"> </div>
                    </div>
                     <div class="headerRight col-lg-10 col-md-10 col-sm-9 col-xs-7">
                        <div class="headerLeftContainer deskTopView col-lg-6 col-md-6 col-sm-6 col-sm-6 padd0">
                            <span class="headerHeading capitalizeText">Add Vendor</span>
                        </div>
                        <div class="width100p col-lg-6 col-md-6 col-sm-6 col-sm-6 padd0">
                            <ul class="config_fld deskTopView">
                                <!-- <li>
                <span><img src="images/message_box.png" class="message_box"></span>
            </li> -->
                                <li>
                                </li>
                                <li>
                                    <span><img src="images/User.png" class="imgspc"></span>
                                </li>
                                <li class="pad0">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                                            <!--<img src="images/button.png">-->
                                            <span class="glyphicon glyphicon-th"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-user  menu_list">
                                            <li>
                                                <a href="#"><img src="images/new_order.png" class=" PADDRIHT15 PADDLEFT9"> User Profile</a>
                                            </li>
                                            <li>
                                                <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Settings</a>
                                            </li>
                                            <li ng-click="headerControllerScope.logout()">
                                                <a><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Logout</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <ul class="config_fld resp_menus">
                                <!-- <li>
                <span><img src="images/message_box.png" class="message_box"></span>
            </li> -->
                                <li>
                                    <span class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                     <!-- <img src="images/button.png"> -->
                    <span class="glyphicon glyphicon-th" style="font-size: 21.42px;"></span></button>
                                    <ul class="dropdown-menu dropdown-user  menu_list">
                                        <li>
                                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> User Profile</a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Settings</a>
                                        </li>
                                        <li ng-click="headerControllerScope.logout(user)">
                                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Logout</a>
                                        </li>
                                    </ul>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
             <div class="bodyContainer row">
                  <div class="leftMenuParent responsive_hide height600 col-lg-2 col-md-2 col-sm-3 col-xs-5 padd0">
                  <ng-include src="'templates/menu.html'"></ng-include>
                
                </div>
                <div class="rightParentDiv col-lg-10 col-md-10 col-sm-9 col-xs-12 padd0">
                    <div class="rightContainer">
                        <div class="pageTitleParent">
                            <div class="pageTitletextContainer">New Vendor</div>
                            <div class="innerdivContainer red-icon create-employee">
                                <form class="form-horizontal formContainer">
                                    <div class="form-group row mob-pos-rel">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Country<span class="reqStar">*</span></label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            <div class="customDropDown">
                                                <select class="inputClass">
                                                    <option value="bangalore">Select Country</option>
                                                    <option value="bangalore">India</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row mob-pos-rel">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">State<span class="reqStar">*</span></label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            <div class="customDropDown">
                                                <select class="inputClass">
                                                    <option value="bangalore">Select State</option>
                                                    <option value="bangalore">Karnataka</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="create-employee-inner">
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Vendor Name
                                                <span class="reqStar">*</span>
                                            </label>
                                            <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                <input type="text" name="fname" class="inputClass" placeholder="Vendor Name">
                                            </div>
                                        </div>
                                        <div class="form-group row mob-pos-rel">
                                            <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Vendor Type<span class="reqStar">*</span></label>
                                            <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                <div class="customDropDown">
                                                    <select class="inputClass">
                                                        <option value="bangalore">Select Vendor</option>
                                                        <option value="bangalore">Karnataka</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Address 1
                                                <span class="reqStar">*</span>
                                            </label>
                                            <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                <input type="text" name="lname" class="inputClass" placeholder="Address Line 1" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Address 2
                                            </label>
                                            <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                <input type="text" name="lname" class="inputClass" placeholder="Address Line 2" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-4  lineheight2pt6">City
                                                <span class="reqStar">*</span>
                                            </label>
                                            <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                <input type="text" name="" class="inputClass" placeholder="City" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Zip<span class="reqStar">*</span></label>
                                            <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                <input type="text" name="primaryNumber" class="inputClass" placeholder="Zip " />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-4 lineheight2pt6">Contact Number
                                            </label>
                                            <div class="col-sm-12 col-md-7 col-xs-12" style="display: inline-flex;">
                                                <select class="inputClass">
                                                    <option value="India">Select Country Code</option>
                                                    <option value="bangalore">+91 (India)</option>
                                                </select>
                                                <input type="number" class="inputWidth width100p pad-10 lineheight2pt6" name="contactno" placeholder="Vendor Contact Number" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Email
                                                <span class="reqStar">*</span>
                                            </label>
                                            <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                <input type="text" name="customerEmail" class="inputClass" placeholder="Vendor Email" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Website
                                                <span class="reqStar">*</span>
                                            </label>
                                            <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                                <input type="text" name="Website" class="inputClass" placeholder="Website" />
                                            </div>
                                        </div>
                                         <div class="formfooterbtns">
                                            <a href="#!/vendors"><button class="defaultBtn" type="button">Decline</button></a>
                                              <a href="#!/vendors"><button class="activeBtn" type="button">Save</button></a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
