
<div id="wrapper">
<div class="pageContainer">
    <div class="row back_clr headerheight">
        <div class="headerContainer row">
   <div class="leftImg_logo col-lg-2 col-md-2 col-sm-3 col-xs-5">
                       
                        <div class="toggleMenuContainer">
                            <i class="fa fa-bars menuIcons" aria-hidden="true"></i>
                        </div>
                       
                        <div class="headerLog"><img src="images/logo.png" class="medium_width100 logo_class"> </div>
                    </div>
     <div class="headerRight col-lg-10 col-md-10 col-sm-9 col-xs-7">
                        <div class="headerLeftContainer deskTopView col-lg-6 col-md-6 col-sm-6 col-sm-6 padd0">
            <span class="headerHeading capitalizeText">Company Information</span>
        </div>
        <div class="width100p col-lg-6 col-md-6 col-sm-6 col-sm-6 padd0">
            <ul class="config_fld deskTopView">
                <!-- <li>
                <span><img src="images/message_box.png" class="message_box"></span>
            </li> -->
                <li>
                    
                </li>
                <li>
                    <span><img src="images/User.png" class="imgspc"></span>
                </li>
                <li class="pad0">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                            <!--<img src="images/button.png">-->
                            <span class="glyphicon glyphicon-th"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-user  menu_list">
                            <li>
                                <a href="#"><img src="images/new_order.png" class=" PADDRIHT15 PADDLEFT9"> User Profile</a>
                            </li>
                            <li>
                                <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Settings</a>
                            </li>
                            <li ng-click="headerControllerScope.logout()">
                                <a><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Logout</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul class="config_fld resp_menus">
                <!-- <li>
                <span><img src="images/message_box.png" class="message_box"></span>
            </li> -->
                <li>
                    <span class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                     <!-- <img src="images/button.png"> -->
                    <span class="glyphicon glyphicon-th" style="font-size: 21.42px;"></span></button>
                    <ul class="dropdown-menu dropdown-user  menu_list">
                        <li>
                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> User Profile</a>
                        </li>
                        <li>
                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Settings</a>
                        </li>
                        <li ng-click="headerControllerScope.logout(user)">
                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Logout</a>
                        </li>
                    </ul>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
    </div>
     <div class="bodyContainer row">
                  <div class="leftMenuParent responsive_hide height600 col-lg-2 col-md-2 col-sm-3 col-xs-5 padd0">
                  <ng-include src="'templates/menu.html'"></ng-include>
                
                </div>
       
       <div class="rightParentDiv col-lg-10 col-md-10 col-sm-9 col-xs-12 padd0 card">
            <div class="rightContainer">
                <div class="pageTitleParent">
                    <div class="pageTitletextContainer">Company Details</div>
                    <div class="innerdivContainer">
                        <div class="row configmenurow mobpaddingTopBtm10px">
                            <div class="responsive_textCenter">
                                <div class="form-horizontal">
                                    <div class="detailoperationSection">
                                        <span class="operationRightDiv width100p">
                                              <button class="activeBtn btn mob-width-48 click_editable">Edit</button>
                                              <span class="update_show dsplyNone">
                                              <button class="defaultBtn btn mob-width-48 decline_hide" >Decline</button>

                                              <button class="activeBtn btn mob-width-48 decline_hide">Update</button>
                                              </span>
                                        </span>
                                    </div>
                                    <form id="inputanble">
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-3 col-lg-3 lineheight4">Company Name <span class="reqStar">*</span></label>
                                            <div class="col-sm-12 col-md-6 col-xs-12 ">
                                                <input type="text" name="name" class="backgroundNone width100p inputClass" placeholder="Name of your company"  disabled />
                                                
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-3 col-lg-3  reslineheight2pt6 lineheight4">TAN No <span class="reqStar" >*</span></label>
                                            <div class="col-sm-12 col-md-6 col-xs-12 reslineheight0">
                                                <input type="text" name="tan" class="backgroundNone width100p inputClass" placeholder="TAN No"  disabled/>
                                               
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-3 col-lg-3  reslineheight2pt6 lineheight4">PAN No <span class="reqStar" >*</span></label>
                                            <div class="col-sm-12 col-md-6 col-xs-12 reslineheight0">
                                                <input type="text" name="pan" class="backgroundNone width100p inputClass" placeholder="PAN No"  disabled/>
                                               
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-3 col-lg-3  reslineheight2pt6 lineheight4" >Address 1 <span class="reqStar">*</span></label>
                                            <div class="col-sm-12 col-md-6 col-xs-12 reslineheight0">
                                                <input type="text" name="address1" class="backgroundNone width100p inputClass" placeholder="Address 1"  disabled/>
                                                
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-3 col-lg-3  reslineheight2pt6 lineheight4">Address 2 <span>:</span></label>
                                            <div class="col-sm-12 col-md-6 col-xs-12 reslineheight0">
                                                <input type="text" name="address2" class="backgroundNone width100p inputClass" placeholder="Address 2 (If any)"  disabled/>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-3 col-lg-3  reslineheight2pt6 lineheight4" >City <span class="reqStar" >*</span> </label>
                                            <div class="col-sm-12 col-md-6 col-xs-12 reslineheight0">
                                                <input type="text" name="city" class="backgroundNone width100p inputClass" placeholder="City"  disabled/>
                                               
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-3 col-lg-3  reslineheight2pt6 lineheight4" >Country <span class="reqStar" >*</span></label>
                                            <div class="col-sm-12 col-md-6 col-xs-12 reslineheight0">
                                                <div class="customDropDown">
                                                   <select class="inputClass"  disabled>
                                                       <option value="country">Select Country</option>
                                                       <option>India</option>
                                                   </select>
                                                </div>
                                               
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-3 col-lg-3  reslineheight2pt6 lineheight4">State <span class="reqStar" >*</span></label>
                                            <div class="col-sm-12 col-md-6 col-xs-12 reslineheight0">
                                                 <div class="customDropDown">
                                                   <select class="inputClass"  disabled>
                                                       <option value="country">Select State</option>
                                                       <option>Karnataka</option>
                                                   </select>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-3 col-lg-3  reslineheight2pt6 lineheight4" >Zip <span class="reqStar" >*</span> </label>
                                            <div class="col-sm-12 col-md-6 col-xs-12 reslineheight0">
                                                <input type="text" name="zip" class="backgroundNone width100p inputClass" placeholder="Zip"  disabled/>
                                                
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-3 col-lg-3  reslineheight2pt6 lineheight4" >Mobile
                                                <span class="reqStar" >*</span>
                                            </label>
                                            <div class="col-sm-12 col-md-6 col-xs-12 reslineheight0" style="display: inline-flex;">
                                                <div class="width50p customDropDown">
                                                    <select class="inputClass"  disabled>
                                                       <option value="country">Select Code</option>
                                                       <option>+91 (India)</option>
                                                   </select>
                                                </div>
                                                
                                                <input type="number" class="backgroundNone inputClass" placeholder="Country Code"  disabled/>
                                            </div>
                                            
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-3 col-lg-3  reslineheight2pt6 lineheight4">Industry <span class="reqStar" >*</span></label>
                                            <div class="col-sm-12 col-md-6 col-xs-12 reslineheight0">
                                                <input type="text" name="industry" class="backgroundNone width100p inputClass" placeholder="Industry" disabled/>
                                                
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-3 col-lg-3  reslineheight2pt6 lineheight4">Website <span class="reqStar">*</span></label>
                                            <div class="col-sm-12 col-md-6 col-xs-12 reslineheight0">
                                                <input type="text" name="website" class="backgroundNone width100p inputClass" placeholder="Website" disabled/>
                                                
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-3 col-lg-3  reslineheight2pt6 lineheight4">Created On </label>
                                            <div class="col-sm-12 col-md-6" ></div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-sm-12 col-md-3 col-lg-3  reslineheight2pt6 lineheight4">Modified On </label>
                                            <div class="col-sm-12 col-md-6"></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>
</div>

