
<div id="wrapper">
<div class="pageContainer">
    <div class="row back_clr headerheight">
        <div class="headerContainer row">
   <div class="leftImg_logo col-lg-2 col-md-2 col-sm-3 col-xs-5">
                     
                        <div class="toggleMenuContainer">
                            <i class="fa fa-bars menuIcons" aria-hidden="true"></i>
                        </div>
                        
                        <div class="headerLog"><img src="images/logo.png" class="medium_width100 logo_class"> </div>
                    </div>
     <div class="headerRight col-lg-10 col-md-10 col-sm-9 col-xs-7">
                        <div class="headerLeftContainer deskTopView col-lg-6 col-md-6 col-sm-6 col-sm-6 padd0">
            <span class="headerHeading capitalizeText">Configuration</span>
        </div>
        <div class="width100p col-lg-6 col-md-6 col-sm-6 col-sm-6 padd0">
            <ul class="config_fld deskTopView">
                <!-- <li>
                <span><img src="images/message_box.png" class="message_box"></span>
            </li> -->
                <li>
                    
                </li>
                <li>
                    <span><img src="images/User.png" class="imgspc"></span>
                </li>
                <li class="pad0">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                            <!--<img src="images/button.png">-->
                            <span class="glyphicon glyphicon-th"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-user  menu_list">
                            <li>
                                <a href="#"><img src="images/new_order.png" class=" PADDRIHT15 PADDLEFT9"> User Profile</a>
                            </li>
                            <li>
                                <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Settings</a>
                            </li>
                            <li ng-click="headerControllerScope.logout()">
                                <a><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Logout</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul class="config_fld resp_menus">
                <!-- <li>
                <span><img src="images/message_box.png" class="message_box"></span>
            </li> -->
                <li>
                    <span class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                     <!-- <img src="images/button.png"> -->
                    <span class="glyphicon glyphicon-th" style="font-size: 21.42px;"></span></button>
                    <ul class="dropdown-menu dropdown-user  menu_list">
                        <li>
                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> User Profile</a>
                        </li>
                        <li>
                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Settings</a>
                        </li>
                        <li ng-click="headerControllerScope.logout(user)">
                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Logout</a>
                        </li>
                    </ul>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
    </div>
     <div class="bodyContainer row">
                  <div class="leftMenuParent responsive_hide height600 col-lg-2 col-md-2 col-sm-3 col-xs-5 padd0">
                  <ng-include src="'templates/menu.html'"></ng-include>
                
                </div>
       
       <div class="rightParentDiv col-lg-10 col-md-10 col-sm-9 col-xs-12 padd0">
            <div class="rightContainer">
                <div class="card-heading">
                    <div class="row">
                        <div class="text-muted">Configuration</div>
                    </div>
                </div>
                <div class="row configmenurow card ">
                    
                    <div class="col-sm-2 col-xs-2 configmenu1">
                        <li class="active country_click">Country
                        </li>
                        <li class="state_click">State</li>
                        <li class="recateg_click">Re-Categorise</li>
                        
                    </div>
                    
                    <div class="col-sm-10 col-xs-10 configdatasectionparent border_left">
                        <div class="row country_show">
                            <div class="input_section">
                                   
                                    <div class="width100">
                                        <a href="javascript:void(0)" class="col-lg-3 col-md-3 col-sm-8 col-xs-12 padd0 outline0" data-toggle="modal" data-target="#country"><button type="button" class="add_btn">
                                            <i class="fa fa-plus" aria-hidden="true"></i><span class="paddLeft5">Add New</span>
                                        </button></a>
                                        <span class= "col-lg-3 col-md-3 col-sm-8 col-xs-12 text-center padd9">Country : </span>
                                        <select class="selectClass col-lg-3 col-md-3 col-sm-8 col-xs-12">
                                            <option>sss</option>
                                            <option>sss</option>
                                            <option>sss</option>
                                        </select>
                                        
                                        
                                        <span class="col-lg-3 col-md-3 col-sm-8 col-xs-12 padd0 text-right responsivemargin_top10">
                                        <button class="glyphicon glyphicon-export action_btn"></button>
                                        <button class="glyphicon glyphicon-import action_btn margin_left0"></button></span>
                                    </div>
                                     <div class="width100 ">
                                        <input type="text" name="" placeholder="search here" class="margin_top20 width100">
                                    </div>
                                    </div>

                                    <div class="innerdivContainer red-icon create-employee">
                                <div class="row">
                                    <div class="input_section">
                                    
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs12 padd0">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd0">
                                                <ul class="padd0 left_text">
                                                    <li>Country Name :</li>
                                                    <li>Country Code :</li>
                                                    <li>Country Calling Code :</li>
                                                    <li>Currency Type :</li>
                                                    <li>Status :  </li>
                                                    <li>Action : </li>
                                                </ul>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd0">
                                                    <ul class="padd0">
                                                        <li>India</li>
                                                        <li>IN</li>
                                                        <li>+91</li>
                                                        <li>INR</li>
                                                        <li>Active</li>
                                                        <li>Make Inactive<span class="fa fa-pencil-square-o actionIcon"></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                      
                                        
                                        
                                    </div>
                                    
                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>
                        <div id="country" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close white opacity1px" data-dismiss="modal"></button>
                                        <h4 class="modal-title">Country Details</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form >
                                            <div class="modal-body">
                                                <input type="text" name="countryName" class="inputClass" placeholder="Country Name"  required/>
                                               
                                                <input type="text" name="code" class="inputClass" placeholder="Country Code" required/>
                                               
                                                <input type="text" name="callingCode" class="inputClass" placeholder="Country Calling Code" required/>
                                                
                                                <input type="text" name="currency" class="inputClass" placeholder="Currency Type" required/>
                                                
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="defaultBtn btn" data-dismiss="modal">Decline</button>
                                                <button type="button" class="activeBtn btn" >Save</button>
                                                <button type="button" class="activeBtn btn">Update</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                         <div class="row state_show dsplyNone">
                            <div class="input_section">
                                   
                                    <div class="width100">
                                        <a href="javascript:void(0)" class="col-lg-3 col-md-3 col-sm-8 col-xs-12 padd0 outline0" data-toggle="modal" data-target="#state"><button type="button" class="add_btn">
                                            <i class="fa fa-plus" aria-hidden="true"></i><span class="paddLeft5">Add New</span>
                                        </button></a>
                                        <span class= "col-lg-3 col-md-3 col-sm-8 col-xs-12 text-center padd9">State : </span>
                                        <select class="selectClass col-lg-3 col-md-3 col-sm-8 col-xs-12">
                                            <option>sss</option>
                                            <option>sss</option>
                                            <option>sss</option>
                                        </select>
                                        
                                        
                                        <span class="col-lg-3 col-md-3 col-sm-8 col-xs-12 padd0 text-right responsivemargin_top10">
                                        <button class="glyphicon glyphicon-export action_btn"></button>
                                        <button class="glyphicon glyphicon-import action_btn margin_left0"></button></span>
                                    </div>
                                     <div class="width100 ">
                                        <input type="text" name="" placeholder="search here" class="margin_top20 width100">
                                    </div>
                                    </div>

                                    <div class="innerdivContainer red-icon create-employee">
                                <div class="row">
                                    <div class="input_section">
                                    
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd0">
                                                <ul class="padd0 left_text">
                                                    <li>State Name :</li>
                                                    <li>Country Name :</li>
                                                    <li>Status :</li>
                                                    <li>Action :</li>
                                                    
                                                </ul>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd0">
                                                    <ul class="padd0">
                                                        <li>Karnataka</li>
                                                        <li>India</li>
                                                        <li>Active</li>
                                                        <li>Make Inactive<span class="fa fa-pencil-square-o actionIcon"></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                      
                                        
                                        
                                    </div>
                                    
                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>
                        <div class="row categ_show dsplyNone">
                           <div class="innerdivContainer red-icon create-employee">
                                <form class="form-horizontal formContainer">
                                    <div class="form-group row mob-pos-rel">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">Old Category<span class="reqStar">*</span></label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            <div class="customDropDown">
                                                <select class="inputClass">
                                                    <option value="bangalore">Bangalore</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row mob-pos-rel">
                                        <label class="control-label col-sm-12 col-md-4  lineheight2pt6">New Category<span class="reqStar">*</span></label>
                                        <div class="col-sm-12 col-md-7 pad-right-0 mob-pad-right-15">
                                            <div class="customDropDown">
                                                <select class="inputClass">
                                                    <option value="bangalore">Bangalore</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="formfooterbtns">
                                            <a href="../templates/dashboard.html"><button class="defaultBtn" type="button">Decline</button></a>
                                            <a href="../templates/dashboard.html"><button class="activeBtn" type="button">Re-Categorise</button></a>
                                        </div>
                                </form>
                            </div>
                            
                        </div>
                        <div id="state" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close white opacity1px" data-dismiss="modal"></button>
                                        <h4 class="modal-title">State Details</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form name="configurationControllerScope.stateDetailForm">
                                            <div class="modal-body pos-rel">
                                                <!--<select name="stateName" ng-change="configurationControllerScope.countryChangeEvent()" ng-model="configurationControllerScope.stateInfo.name" class="inputClass" ng-options="v.name for v in configurationControllerScope.countryDetailsList">
                            <option value="" disabled selected="selected" style="display: none;">Select Country</option>
                        </select>-->
                                                 <div class="customDropDown">
                                                       <select class="inputClass">
                                                        <option value="bangalore">Select Name</option>
                                                        <option value="bangalore">India</option>
                                                       </select>
                                                    </div>
                                                
                                                <input type="text" name="statename" class="inputClass" placeholder="State Name"/>
                                                
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="defaultBtn btn" data-dismiss="modal">Decline</button>
                                                <button type="button" class="activeBtn btn" >Save</button>
                                                <button type="button" class="activeBtn btn" >Update</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                       
                   
                </div>
            </div>
        </div>
    </div>
</div>
</div>

