        <div class="body">
        <div class="login-header">
            <img title="" alt="" src="images/logo.png">
           
        </div>
        <div id="login-form-wrapper" class="row login-block loginbox dsplyShow">
            <h3 class="login-title brandColor">LOGIN TO SEVEN CRM</h3>
            <div id="login-form-content" class="col-xs-12 col-md-12 login-col login_min_height">
                <form>
                <fieldset>
                    <div class="form-group">
                        <div class="input-group col-xs-12">
                            <input type="hidden" id="logincount" name="logincount" value="">
                            <div id="email_icon" class="form-control f-icon">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                            <input id="email" name="email" type="text" placeholder="Email ID" class="form-control iconized">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group col-xs-12">
                            <div id="password_icon" class="f-icon form-control">
                            <i class="fa fa-key" aria-hidden="true"></i></div>
                            <input id="password" name="password" type="text" placeholder="Password" class="form-control iconized">
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <p class="login-botttom-txt brandColor">Forgot Password, <a class="gotoReset">Click Here!</a></p>
                        <a href="#!/dashboard"><button type="button" class="btn btn-success btn-social col-xs-12 sign-padding">LOGIN</button></a>
                        <p class="login-botttom-txt brandColor">By signing in, you agree to our <a>Terms</a> and <a>Privacy Policy</a></p>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-xs-12">
            <div id="footerText" class="text-center brandColor">
                <div class="row-fluid brandColor">
                    © 2017 SEVEN CRM
                </div>
            </div>
        </div>
    </div>
    <div id="password-remind-wrapper" class="row login-block dsplyNone">
        <div class="col-xs-12 login-col login_min_height">
            <form role="form">
                <div class="row-fluid">
                    <fieldset>
                        <div class="form-group clearfix">
                            <h3 class="login-title brandColor">Reset Password</h3>
                            <p class="login-botttom-txt brandColor">Enter the email address you used to sign up for SEVEN CRM and we'll send you an email with a link to reset password.</p>
                        </div>
                        <div class="control-group form-group clearfix">
                            <div class="input-group col-xs-12">
                                <div id="email_icon" class="form-control f-icon">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                                <input id="user_email" placeholder="Email ID" type="email" class="form-control iconized" name="email">
                            </div>
                            <span class="text-danger hidden">Please enter email</span>
                        </div>
                        <div class="form-group clearfix">
                            <button id="btn-login" class="btn btn-success btn-social col-xs-12 sign-padding" type="submit">RESET</button>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>
        <div class="col-xs-12">
            <div id="footerText" class="text-center">
                <div class="row-fluid brandColor">
                    © 2017  SEVEN CRM
                </div>
            </div>
        </div>
    </div>
    </div>
