
  <div id="dash_board_menu" class="width100">
    <div class="anchor_tag leftMenus leftmenuimg">
      <a  href="#!/dashboard"><i class="fa fa-user-o" aria-hidden="true"></i><span class="menuText">Dashboard</span>
                            </a>
    </div>
    <div class="dropdown">
      <div class="anchor_tag leftMenus leftmenuimg dropbtn"><a class="" href="#!/employees"><i class="fa fa-user-o" aria-hidden="true"></i><span class="menuText">Employees</span></a>
                            
        <div class="submenu dropdown-content">
          
          <a href="#!/addEmployee" class="leftSubMenus">Add Employee</a>
          <a href="#!/viewEmployee" class="leftSubMenus">View Employee</a>
        </div>
      </div>
    </div>
    
    <div class="anchor_tag leftMenus leftmenuimg">
      <a class="" href="#!/viewEmployee"><i class="fa fa-user-o" aria-hidden="true"></i><span class="menuText">My Info</span>
                            </a>
    </div>
    

    <div class="dropdown2">
      <div class="anchor_tag leftMenus leftmenuimg dropbtn"><a class="" href="#!/leads"><i class="fa fa-user-o" aria-hidden="true"></i><span class="menuText">Leads<span class="menuText"></a>
                            
        <div class="submenu dropdown-content2">
          
          <a href="#!/addLead" class="leftSubMenus">Add Lead</a>
          <a href="#!/viewLeads" class="leftSubMenus">View Lead</a>
          <a href="#!/employeeLeads" class="leftSubMenus">Employee Leads</a>
          <a href="#!/transferLead" class="leftSubMenus">Transfer Lead</a>
        </div>
      </div>
    </div>
    
   
    <div class="dropdown3">
      <div class="anchor_tag leftMenus leftmenuimg dropbtn"><a class="" href="#!/contacts"><i class="fa fa-user-o" aria-hidden="true"></i><span class="menuText">Contacts</span></a>
                            
        <div class="submenu dropdown-content3">
          
          <a href="#!/addContact" class="leftSubMenus">Add Contact</a>
          <a href="#!/viewContact" class="leftSubMenus">View Contact</a>
        </div>
      </div>
    </div>
    
    
     <div class="dropdown4">
      <div class="anchor_tag leftMenus leftmenuimg dropbtn"><a class="" href="#!/customers"><i class="fa fa-user-o" aria-hidden="true"></i><span class="menuText">Customers</span></a>
                            
        <div class="submenu dropdown-content4">
          
          <a href="#!/addCustomer" class="leftSubMenus">Add Customer</a>
          <a href="#!/viewCustomer" class="leftSubMenus">View Customer</a>
        </div>
      </div>
    </div>
   <!--  <div class="anchor_tag leftMenus leftmenuimg">
      <a class="" href="#!/vendors"><span class="menuText">Vendors</span>
                            </a>
    </div>
    <div class="anchor_tag leftMenus leftmenuimg">
      <a class="" href="#!/bills"><span class="menuText">Bills</span>
                            </a>
    </div> -->
    
     <div class="dropdown5">
      <div class="anchor_tag leftMenus leftmenuimg dropbtn"><a class="" href="#!/projects"><i class="fa fa-user-o" aria-hidden="true"></i><span class="menuText">Projects</span></a>
                            
        <div class="submenu dropdown-content5">
          
          <a href="#!/addProject" class="leftSubMenus">Add Project</a>
          <a href="#!/viewProject" class="leftSubMenus">View Project</a>
        </div>
      </div>
    </div>
  <!--   <div>
      <div class="leftMenus leftmenuimg"><span class="menuText">HR</span>
        <div class="submenu">
          <a href="#" class="leftSubMenus">Requirements</a>
          <a href="#" class="leftSubMenus">Offers</a>
        </div>
      </div>
    </div>
    <div>
      <div class="leftMenus leftmenuimg"><span class="menuText">HR Policy</span>
      </div>
    </div> -->
   
   
    <div class="anchor_tag leftMenus leftmenuimg">
      <a class="" href="#!/reports"><i class="fa fa-user-o" aria-hidden="true"></i><span class="menuText">Reports</span>
                            </a>
    </div>
     <div class="dropdown1">
      <div class="leftMenus leftmenuimg dropbtn1"><i class="fa fa-user-o" aria-hidden="true"></i><span class="menuText">Administration</span>
        <div class="submenu dropdown-content1">
          <a href="#!/configuration" class="leftSubMenus">Configuration</a>
          <a href="#!/roles" class="leftSubMenus">Roles</a>
          <a href="#!/users" class="leftSubMenus">Users</a>
          <a href="#!/companyInformation" class="leftSubMenus">CompanyInformation</a>
          <!-- <a href="#!/reCategorise" class="leftSubMenus">Re-Categorise</a> -->
        </div>
      </div>
    </div>
  </div>

