
    <div id="wrapper">
        <div class="pageContainer">
            <div class="row back_clr headerheight">
                <div class="headerContainer row">
                    <div class="leftImg_logo col-lg-2 col-md-2 col-sm-3 col-xs-5">
                       
                        <div class="toggleMenuContainer">
                            <i class="fa fa-bars menuIcons" aria-hidden="true"></i>
                        </div>
                      
                        <div class="headerLog"><img src="images/logo.png" class="medium_width100 logo_class"> </div>
                    </div>
                    <div class="headerRight col-lg-10 col-md-10 col-sm-9 col-xs-7">
                        <div class="headerLeftContainer deskTopView col-lg-6 col-md-6 col-sm-6 col-sm-6 padd0">
                            <span class="headerHeading capitalizeText">Reports</span>
                        </div>
                        <div class="width100p col-lg-6 col-md-6 col-sm-6 col-sm-6 padd0">
                            <ul class="config_fld deskTopView">
                                <!-- <li>
                <span><img src="images/message_box.png" class="message_box"></span>
            </li> -->
                                <li>
                                </li>
                                <li>
                                    <span><img src="images/User.png" class="imgspc"></span>
                                </li>
                                <li class="pad0">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                                            <!--<img src="images/button.png">-->
                                            <span class="glyphicon glyphicon-th"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-user  menu_list">
                                            <li>
                                                <a href="#"><img src="images/new_order.png" class=" PADDRIHT15 PADDLEFT9"> User Profile</a>
                                            </li>
                                            <li>
                                                <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Settings</a>
                                            </li>
                                            <li ng-click="headerControllerScope.logout()">
                                                <a><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Logout</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <ul class="config_fld resp_menus">
                                <!-- <li>
                <span><img src="images/message_box.png" class="message_box"></span>
            </li> -->
                                <li>
                                    <span class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                     <!-- <img src="images/button.png"> -->
                    <span class="glyphicon glyphicon-th" style="font-size: 21.42px;"></span></button>
                                    <ul class="dropdown-menu dropdown-user  menu_list">
                                        <li>
                                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> User Profile</a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Settings</a>
                                        </li>
                                        <li ng-click="headerControllerScope.logout(user)">
                                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Logout</a>
                                        </li>
                                    </ul>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bodyContainer row">
                  <div class="leftMenuParent responsive_hide dashHeight600 col-lg-2 col-md-2 col-sm-3 col-xs-5 padd0">
                  <ng-include src="'templates/menu.html'"></ng-include>
                
                </div>
                <div class="rightParentDiv col-lg-10 col-md-10 col-sm-9 col-xs-12 padd0">
                    <div class="rightContainer">
                        <div class="row mob-dashboard text-center">
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <img src="images/chart1.png">
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <img src="images/chart1.png">
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 padd_right0">
                                <img src="images/chart1.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
