
<div id="wrapper">
<div class="pageContainer">
    <div class="row back_clr headerheight">
        <div class="headerContainer row">
   <div class="leftImg_logo col-lg-2 col-md-2 col-sm-3 col-xs-5">
                       
                        <div class="toggleMenuContainer">
                            <i class="fa fa-bars menuIcons" aria-hidden="true"></i>
                        </div>
                        
                        <div class="headerLog"><img src="images/logo.png" class="medium_width100 logo_class"> </div>
                    </div>
     <div class="headerRight col-lg-10 col-md-10 col-sm-9 col-xs-7">
                        <div class="headerLeftContainer deskTopView col-lg-6 col-md-6 col-sm-6 col-sm-6 padd0">
            <span class="headerHeading capitalizeText">Roles</span>
        </div>
        <div class="width100p col-lg-6 col-md-6 col-sm-6 col-sm-6 padd0">
            <ul class="config_fld deskTopView">
                <!-- <li>
                <span><img src="images/message_box.png" class="message_box"></span>
            </li> -->
                <li>
                    
                </li>
                <li>
                    <span><img src="images/User.png" class="imgspc"></span>
                </li>
                <li class="pad0">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                            <!--<img src="images/button.png">-->
                            <span class="glyphicon glyphicon-th"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-user  menu_list">
                            <li>
                                <a href="#"><img src="images/new_order.png" class=" PADDRIHT15 PADDLEFT9"> User Profile</a>
                            </li>
                            <li>
                                <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Settings</a>
                            </li>
                            <li ng-click="headerControllerScope.logout()">
                                <a><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Logout</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul class="config_fld resp_menus">
                <!-- <li>
                <span><img src="images/message_box.png" class="message_box"></span>
            </li> -->
                <li>
                    <span class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                     <!-- <img src="images/button.png"> -->
                    <span class="glyphicon glyphicon-th" style="font-size: 21.42px;"></span></button>
                    <ul class="dropdown-menu dropdown-user  menu_list">
                        <li>
                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> User Profile</a>
                        </li>
                        <li>
                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Settings</a>
                        </li>
                        <li ng-click="headerControllerScope.logout(user)">
                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Logout</a>
                        </li>
                    </ul>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
    </div>
    <div class="bodyContainer row">
                  <div class="leftMenuParent responsive_hide height600 col-lg-2 col-md-2 col-sm-3 col-xs-5 padd0">
                  <ng-include src="'templates/menu.html'"></ng-include>
                
                </div>
       <div class="rightParentDiv col-lg-10 col-md-10 col-sm-9 col-xs-12 padd0">
            <div class="rightContainer">
                <div class="pageTitleParent">
                    <div class="pageTitletextContainer">Roles</div>
                    <div class="innerdivContainer">
                        <div class="row configmenurow mobpaddingTopBtm10px">
                            <div class="roles-page">
                                <div class="form-horizontal">
                                    <div class="detailoperationSection">
                                        <span class="operationRightDiv width100p">

                                          <!--   <button class="defaultBtn btn mob-width-48" >Decline</button>  -->

                                            <button data-toggle="modal" data-target="#employeeRoles"  class="activeBtn btn mob-width-48">Add Role</button>

                                           <!--  <button  class="activeBtn btn mob-width-48">Edit</button>

                                            <button class="activeBtn btn mob-width-48">Update</button> -->

                                        </span>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <form>
                                                <div class="form-group col-sm-12 mob-pad-0">
                                                    <label class="control-label col-sm-3 text-right" for="sel1">Select Role :</label>
                                                    <div class="col-sm-9">
                                                        <select class="inputClass">
                                                            <option>Admin</option>
                                                            <option>Admin</option>
                                                            <option>Admin</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12 mob-pad-0">
                                                    <label class="control-label col-sm-3 text-right" for="roledesc">Role Name :</label>
                                                    <div class="col-sm-9 pad-top-7 role-name">
                                                        Admin
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12 mob-pad-0">
                                                    <label class="control-label col-sm-3 text-right" for="roledesc">Description :</label>
                                                    <div class="col-sm-9">
                                                        <textarea class="form-control" id="roledesc" placeholder="Who Should Have This Role?" maxlength="250"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12 mob-pad-0">
                                                    <label class="control-label col-sm-12 text-middle" for="roledesc">User With This Role :</label>
                                                    <div class="col-sm-9"></div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 mob-pad-0 flex-parent">
                                            <div class="flex-child">
                                                <div class="role-dash-div">
                                                    <input type="checkbox" class="parentCheckBox">
                                                    <label> Admin
                                                    </label>
                                                </div>
                                                <div class="">
                                                    <ul class="role-dash-ul sub-nav childCheckbox">
                                                        <li class="role-dash-li">
                                                            <input class="role-input-check" type="checkbox" />
                                                            <label>Admin</label>
                                                        </li>
                                                        <li class="role-dash-li">
                                                            <input class="role-input-check" type="checkbox" />
                                                            <label>Admin</label>
                                                        </li>
                                                        <li class="role-dash-li">
                                                            <input class="role-input-check" type="checkbox" />
                                                            <label>Admin</label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="flex-child">
                                                <div class="role-dash-div">
                                                    <input type="checkbox" class="parentCheckBox">
                                                    <label> Admin
                                                    </label>
                                                </div>
                                                <div class="">
                                                    <ul class="role-dash-ul sub-nav childCheckbox">
                                                        <li class="role-dash-li">
                                                            <input class="role-input-check" type="checkbox" />
                                                            <label>Admin</label>
                                                        </li>
                                                        <li class="role-dash-li">
                                                            <input class="role-input-check" type="checkbox" />
                                                            <label>Admin</label>
                                                        </li>
                                                        <li class="role-dash-li">
                                                            <input class="role-input-check" type="checkbox" />
                                                            <label>Admin</label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="flex-child">
                                                <div class="role-dash-div">
                                                    <input type="checkbox" class="parentCheckBox">
                                                    <label> Admin
                                                    </label>
                                                </div>
                                                <div class="">
                                                    <ul class="role-dash-ul sub-nav childCheckbox">
                                                        <li class="role-dash-li">
                                                            <input class="role-input-check" type="checkbox" />
                                                            <label>Admin</label>
                                                        </li>
                                                        <li class="role-dash-li">
                                                            <input class="role-input-check" type="checkbox" />
                                                            <label>Admin</label>
                                                        </li>
                                                        <li class="role-dash-li">
                                                            <input class="role-input-check" type="checkbox" />
                                                            <label>Admin</label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="employeeRoles" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Employee Role</h4>
                                    </div>
                                    <form name="configurationControllerScope.employeeRoleForm">
                                        <div class="modal-body">
                                            <input type="text" name="employeerole" class="inputClass" placeholder="Employee Role"  />
                                           
                                        </div>
                                        <div class="modal-footer">
                                            <button class="defaultBtn btn" data-dismiss="modal">Decline</button>
                                            <button type="button" class="activeBtn btn">Save</button>
                                            
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

