
    <div id="wrapper">
        <div class="pageContainer">
            <div class="row back_clr headerheight">
                <div class="headerContainer row">
                    <div class="leftImg_logo col-lg-2 col-md-2 col-sm-3 col-xs-5">
                      
                        <div class="toggleMenuContainer">
                            <i class="fa fa-bars menuIcons" aria-hidden="true"></i>
                        </div>
                        
                        <div class="headerLog"><img src="images/logo.png" class="medium_width100 logo_class"> </div>
                    </div>
                    <div class="headerRight col-lg-10 col-md-10 col-sm-9 col-xs-7">
                        <div class="headerLeftContainer deskTopView col-lg-6 col-md-6 col-sm-6 col-sm-6 padd0">
                            <span class="headerHeading capitalizeText">Transfer Leads</span>
                        </div>
                        <div class="width100p col-lg-6 col-md-6 col-sm-6 col-sm-6 padd0">
                            <ul class="config_fld deskTopView">
                                <!-- <li>
                <span><img src="images/message_box.png" class="message_box"></span>
            </li> -->
                                <li>
                                </li>
                                <li>
                                    <span><img src="images/User.png" class="imgspc"></span>
                                </li>
                                <li class="pad0">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                                            <!--<img src="images/button.png">-->
                                            <span class="glyphicon glyphicon-th"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-user  menu_list">
                                            <li>
                                                <a href="#"><img src="images/new_order.png" class=" PADDRIHT15 PADDLEFT9"> User Profile</a>
                                            </li>
                                            <li>
                                                <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Settings</a>
                                            </li>
                                            <li ng-click="headerControllerScope.logout()">
                                                <a><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Logout</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <ul class="config_fld resp_menus">
                                <!-- <li>
                <span><img src="images/message_box.png" class="message_box"></span>
            </li> -->
                                <li>
                                    <span class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                     <!-- <img src="images/button.png"> -->
                    <span class="glyphicon glyphicon-th" style="font-size: 21.42px;"></span></button>
                                    <ul class="dropdown-menu dropdown-user  menu_list">
                                        <li>
                                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> User Profile</a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Settings</a>
                                        </li>
                                        <li ng-click="headerControllerScope.logout(user)">
                                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Logout</a>
                                        </li>
                                    </ul>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bodyContainer row">
                  <div class="leftMenuParent responsive_hide height600 col-lg-2 col-md-2 col-sm-3 col-xs-5 padd0">
                  <ng-include src="'templates/menu.html'"></ng-include>
                
                </div>
                <div class="rightParentDiv col-lg-10 col-md-10 col-sm-9 col-xs-12 padd0">
                    <div class="rightContainer">
                        <div class="pageTitleParent">
                            <div class="pageTitletextContainer">Transfer Leads</div>
                            <div class="innerdivContainer red-icon create-employee">
                                  <div class="row">
                                    <div class="input_section">
                                   
                                    <div class="width100">
                                        
                                        <span class= "col-lg-3 col-md-12 col-sm-12 col-xs-12 text-center padd9">Lead From : </span>
                                        <select class="selectClass col-lg-2 col-md-12 col-sm-12 col-xs-12">
                                            <option>sss</option>
                                            <option>sss</option>
                                            <option>sss</option>
                                        </select>
                                         <span class= "col-lg-3 col-md-12 col-sm-12 col-xs-12 text-center padd9">Lead To : </span>
                                        <select class="selectClass col-lg-2 col-md-12 col-sm-12 col-xs-12">
                                            <option>sss</option>
                                            <option>sss</option>
                                            <option>sss</option>
                                        </select>
                                        
                                        <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd0 text-right">
                                         <div class="form-group row mob-pos-rel">
                                            <label class="control-label col-sm-12 col-md-12 col-xs-12 col-lg-3 lineheight2pt6 text-center">Lead Date <span class="reqStar">*</span></label>
                                            <div class="col-sm-12 col-md-12 col-lg-3 col-xs-12 pad-right-0 mob-pad-right-15 padd0">
                                                <input type="text" class="inputClass" name="dateOfBirth" />
                                                
                                            </div>
                                            <span class="col-lg-1">
                                                 <button type="button" class="btn btn-default mrgTop5 addIcon calen_btn" ><i class="glyphicon glyphicon-calendar"></i></button>
                                             </span>
                                            <a href="../templates/addContact.html" class="col-lg-4 col-md-12 col-sm-12 col-xs-12 padd0 responsive_textCenter text-center margin_top10"><button type="button" class="add_btn">
                                            <i class="fa fa-plus" aria-hidden="true"></i><span class="paddLeft5">Transfer Lead</span>
                                        </button></a>
                                        </div>
                                        
                                        </span>
                                    </div>
                                     <div class="width100 ">
                                        <input type="text" name="" placeholder="Search By : Name, Company, City, Country" class="margin_top20 width100">
                                    </div>
                                    </div>
                                    
                                </div>
                                <div class="text-center width100">
                                    <h3>List Of Leads Transferred</h3>
                                </div>
                            </div>
                            
                             <div class="innerdivContainer red-icon create-employee">
                                <div class="row">
                                    <div class="input_section">
                                    <div class="col-lg-1 padd0 responsive_textCenter responsivemargin_top10">
                                        <img src="images/profile.png">
                                    </div>
                                    <div class="responsive_textCenter">
                                           <a href="../templates/viewContact.html" class="anchor_text">Katari Lokesh</a><span class="pipe_text">|</span><span class="span_text">Software Engineer</span>
                                       </div> 
                                    <div class="col-lg-5">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-5 col-xs-6 padd0">
                                                <ul class="padd0 left_text">
                                                    <li>Employee Type :</li>
                                                    <li>Email :</li>
                                                    <li>Phone :</li>
                                                    <li>Employee ID :</li>
                                                    <li>Payroll Batch :  </li>
                                                </ul>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-5 col-xs-6 padd0">
                                                    <ul class="padd0">
                                                        <li>Fulltime Salaries</li>
                                                        <li>lkatari@saptalabs.com</li>
                                                        <li>9036995388</li>
                                                        <li>10322</li>
                                                        <li>Fulltime Batch</li>
                                                    </ul>
                                                </div>
                                            </div>
                                      
                                        
                                        
                                    </div>
                                    <div class="col-lg-6">
                                         <div class="row text-center">
                                               
                                           
                                            <a href="../templates/dashboard.html"><button class="activeBtn" type="button">Revoke</button></a>
                                        
                                            </div>
                                    </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <hr class="hr_margin">
                            <div class="innerdivContainer red-icon create-employee">
                                <div class="row">
                                    <div class="input_section">
                                    <div class="col-lg-1 padd0 responsive_textCenter responsivemargin_top10">
                                        <img src="images/profile.png">
                                    </div>
                                    <div class="responsive_textCenter">
                                           <a href="../templates/viewContact.html" class="anchor_text">Katari Lokesh</a><span class="pipe_text">|</span><span class="span_text">Software Engineer</span>
                                       </div> 
                                    <div class="col-lg-5">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-5 col-xs-6 padd0">
                                                <ul class="padd0 left_text">
                                                    <li>Employee Type :</li>
                                                    <li>Email :</li>
                                                    <li>Phone :</li>
                                                    <li>Employee ID :</li>
                                                    <li>Payroll Batch :  </li>
                                                </ul>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-5 col-xs-6 padd0">
                                                    <ul class="padd0">
                                                        <li>Fulltime Salaries</li>
                                                        <li>lkatari@saptalabs.com</li>
                                                        <li>9036995388</li>
                                                        <li>10322</li>
                                                        <li>Fulltime Batch</li>
                                                    </ul>
                                                </div>
                                            </div>
                                      
                                        
                                        
                                    </div>
                                    <div class="col-lg-6">
                                         <div class="row text-center responsivemargin_top10">
                                               
                                           
                                            <a href="../templates/dashboard.html"><button class="activeBtn" type="button">Revoke</button></a>
                                        
                                            </div>
                                    </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <hr class="hr_margin">
                            <div class="innerdivContainer red-icon create-employee">
                                <div class="row">
                                    <div class="input_section">
                                    <div class="col-lg-1 padd0 responsive_textCenter responsivemargin_top10">
                                        <img src="images/profile.png">
                                    </div>
                                    <div class="responsive_textCenter">
                                           <a href="../templates/viewContact.html" class="anchor_text">Katari Lokesh</a><span class="pipe_text">|</span><span class="span_text">Software Engineer</span>
                                       </div> 
                                    <div class="col-lg-5">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-5 col-xs-6 padd0">
                                                <ul class="padd0 left_text">
                                                    <li>Employee Type :</li>
                                                    <li>Email :</li>
                                                    <li>Phone :</li>
                                                    <li>Employee ID :</li>
                                                    <li>Payroll Batch :  </li>
                                                </ul>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-5 col-xs-6 padd0">
                                                    <ul class="padd0">
                                                        <li>Fulltime Salaries</li>
                                                        <li>lkatari@saptalabs.com</li>
                                                        <li>9036995388</li>
                                                        <li>10322</li>
                                                        <li>Fulltime Batch</li>
                                                    </ul>
                                                </div>
                                            </div>
                                      
                                        
                                        
                                    </div>
                                    <div class="col-lg-6">
                                         <div class="row text-center">
                                               
                                           
                                            <a href="../templates/dashboard.html"><button class="activeBtn" type="button">Revoke</button></a>
                                        
                                            </div>
                                    </div>
                                    </div>
                                    
                                </div>
                            </div>                              
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
