
<div id="wrapper">
<div class="pageContainer">
    <div class="row back_clr headerheight">
        <div class="headerContainer row">
    <div class="leftImg_logo col-lg-2 col-md-2 col-sm-3 col-xs-5">
                       
                        <div class="toggleMenuContainer">
                            <i class="fa fa-bars menuIcons" aria-hidden="true"></i>
                        </div>
                        
                        <div class="headerLog"><img src="images/logo.png" class="medium_width100 logo_class"> </div>
                    </div>
     <div class="headerRight col-lg-10 col-md-10 col-sm-9 col-xs-7">
                        <div class="headerLeftContainer deskTopView col-lg-6 col-md-6 col-sm-6 col-sm-6 padd0">
            <span class="headerHeading capitalizeText">Users</span>
        </div>
        <div class="width100p col-lg-6 col-md-6 col-sm-6 col-sm-6 padd0">
            <ul class="config_fld deskTopView">
                <!-- <li>
                <span><img src="images/message_box.png" class="message_box"></span>
            </li> -->
                <li>
                    
                </li>
                <li>
                    <span><img src="images/User.png" class="imgspc"></span>
                </li>
                <li class="pad0">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                            <!--<img src="images/button.png">-->
                            <span class="glyphicon glyphicon-th"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-user  menu_list">
                            <li>
                                <a href="#"><img src="images/new_order.png" class=" PADDRIHT15 PADDLEFT9"> User Profile</a>
                            </li>
                            <li>
                                <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Settings</a>
                            </li>
                            <li ng-click="headerControllerScope.logout()">
                                <a><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Logout</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul class="config_fld resp_menus">
                <!-- <li>
                <span><img src="images/message_box.png" class="message_box"></span>
            </li> -->
                <li>
                    <span class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                     <!-- <img src="images/button.png"> -->
                    <span class="glyphicon glyphicon-th" style="font-size: 21.42px;"></span></button>
                    <ul class="dropdown-menu dropdown-user  menu_list">
                        <li>
                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> User Profile</a>
                        </li>
                        <li>
                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Settings</a>
                        </li>
                        <li ng-click="headerControllerScope.logout(user)">
                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Logout</a>
                        </li>
                    </ul>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
    </div>
    <div class="bodyContainer row">
                  <div class="leftMenuParent responsive_hide height600 col-lg-2 col-md-2 col-sm-3 col-xs-5 padd0">
                  <ng-include src="'templates/menu.html'"></ng-include>
                
                </div>
       
       <div class="rightParentDiv col-lg-10 col-md-10 col-sm-9 col-xs-12 padd0">
            <div class="rightContainer">
                <div class="card-heading">
                    <div class="row">
                        <div class="text-muted">Users</div>
                    </div>
                </div>
                <div class="row configmenurow card ">
                    
                    <div class="col-sm-2 col-xs-2 configmenu1">
                        <li class="active country_click">Users
                        </li>
                        <li class="state_click">Invitees</li>
                        
                    </div>
                    
                    <div class="col-sm-10 col-xs-10 configdatasectionparent border_left">
                        <div class="row country_show">
                            <div class="input_section">
                                   
                                    <div class="width100">
                                        <a href="javascript:void(0)" class="col-lg-3 col-md-3 col-sm-8 col-xs-12 padd0 outline0" data-toggle="modal" data-target="#inviteUserModel"><button type="button" class="add_btn">
                                            <i class="fa fa-plus" aria-hidden="true"></i><span class="paddLeft5">Invite New User</span>
                                        </button></a>
                                        <span class= "col-lg-3 col-md-3 col-sm-8 col-xs-12 text-center padd9">User Type : </span>
                                        <select class="selectClass col-lg-3 col-md-3 col-sm-8 col-xs-12">
                                            <option>sss</option>
                                            <option>sss</option>
                                            <option>sss</option>
                                        </select>
                                        
                                        
                                        <span class="col-lg-3 col-md-3 col-sm-8 col-xs-12 padd0 text-right responsivemargin_top10">
                                        <button class="glyphicon glyphicon-export action_btn"></button>
                                        <button class="glyphicon glyphicon-import action_btn margin_left0"></button></span>
                                    </div>
                                     <div class="width100 ">
                                        <input type="text" name="" placeholder="search here" class="margin_top20 width100">
                                    </div>
                                    </div>

                                    <div class="innerdivContainer red-icon create-employee">
                                <div class="row">
                                    <div class="input_section">
                                    
                                    <div class="col-lg-8">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-5 col-xs-5 padd0">
                                                <ul class="padd0 left_text">
                                                    <li>User Name :</li>
                                                    <li>Email :</li>
                                                    <li>User Type (ROLE) :</li>
                                                    <li>User Since :</li>
                                                    <li>Employee :  </li>
                                                    <li>Status : </li>
                                                </ul>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-5 col-xs-5 padd0">
                                                    <ul class="padd0">
                                                        <li>sapta</li>
                                                        <li>saptalabs@email.com</li>
                                                        <li>software Engineer</li>
                                                        <li>May 16, 2017</li>
                                                        <li>unlinked</li>
                                                        <li>Active
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                      
                                        
                                        
                                    </div>
                                    
                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>
                        

                         <div class="row state_show dsplyNone">
                            <div class="input_section">
                                   
                                    <div class="width100">
                                        <a href="javascript:void(0)" class="col-lg-3 col-md-3 col-sm-8 col-xs-12 padd0 outline0" data-toggle="modal" data-target="#inviteUserModel"><button type="button" class="add_btn">
                                            <i class="fa fa-plus" aria-hidden="true"></i><span class="paddLeft5">Invite New User</span>
                                        </button></a>
                                        <span class= "col-lg-3 col-md-3 col-sm-8 col-xs-12 text-center padd9">User Type : </span>
                                        <select class="selectClass col-lg-3 col-md-3 col-sm-8 col-xs-12">
                                            <option>sss</option>
                                            <option>sss</option>
                                            <option>sss</option>
                                        </select>
                                        
                                        
                                        <span class="col-lg-3 col-md-3 col-sm-8 col-xs-12 padd0 text-right responsivemargin_top10">
                                        <button class="glyphicon glyphicon-export action_btn"></button>
                                        <button class="glyphicon glyphicon-import action_btn margin_left0"></button></span>
                                    </div>
                                     <div class="width100 ">
                                        <input type="text" name="" placeholder="search here" class="margin_top20 width100">
                                    </div>
                                    </div>

                                    <div class="innerdivContainer red-icon create-employee">
                                <div class="row">
                                    <div class="input_section">
                                    
                                    <div class="col-lg-8">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-5 col-xs-5 padd0">
                                                <ul class="padd0 left_text">
                                                    <li>Email :</li>
                                                    <li>User Type :</li>
                                                    <li>Sent By :</li>
                                                    <li>Sent On :</li>
                                                    <li>Status :</li>
                                                    
                                                </ul>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-5 col-xs-5 padd0">
                                                    <ul class="padd0">
                                                        <li>saptalabs@gmail.com</li>
                                                        <li>ssss</li>
                                                        <li>Pending</li>
                                                        <li>May 16, 2017
                                                        </li>
                                                        <li>Active</li>
                                                    </ul>
                                                </div>
                                            </div>
                                      
                                        
                                        
                                    </div>
                                    
                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                    <div id="inviteUserModel" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Invite New User</h4>
                            </div>
                            <form name="usersControllerScope.inviteUserForm">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <div class="pos-rel">
                                            <input type="text" name="email" class="inputClass" placeholder="Email Address" />
                                            <!-- <div class="pos-abs employeeSearchDiv" ng-show="usersControllerScope.isEmployeeFound">
                                        <ul>
                                            <li >
                                                <p>sapta</p>
                                                <p class="small">sapta</p>
                                            </li>
                                        </ul>
                                    </div> -->
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="customDropDown">
                                            <select class="inputClass">
                                                <option value="Select Employee Role">Select Employee Role</option>
                                                <option value="">cccc</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="defaultBtn btn" ng-click="usersControllerScope.declineMethod('workLocation')" data-dismiss="modal">Decline</button>
                                    <button type="button" class="activeBtn btn" ng-disabled="usersControllerScope.inviteUserForm.$invalid" ng-click="usersControllerScope.sendInvite()">Send Invite</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                       
                   
                </div>
            </div>
        </div>
    </div>
</div>
</div>


