<div id="wrapper">
    <div class="pageContainer">
        <div class="row back_clr headerheight">
            <div class="headerContainer row">
                <div class="leftImg_logo col-lg-2 col-md-2 col-sm-3 col-xs-5">

                    <div class="toggleMenuContainer">
                       <i class="fa fa-bars menuIcons" aria-hidden="true"></i>
                    </div>

                    <div class="headerLog"><img src="images/logo.png" class="medium_width100 logo_class"> </div>
                </div>
                <div class="headerRight col-lg-10 col-md-10 col-sm-9 col-xs-7">
                    <div class="headerLeftContainer deskTopView col-lg-6 col-md-6 col-sm-6 col-sm-6 padd0">
                        <span class="headerHeading capitalizeText">View Customer</span>
                    </div>
                    <div class="width100p col-lg-6 col-md-6 col-sm-6 col-sm-6 padd0">
                        <ul class="config_fld deskTopView">
                            <!-- <li>
                                <span><img src="images/message_box.png" class="message_box"></span>
                            </li> -->
                            <li>
                            </li>
                            <li>
                                <span><img src="images/User.png" class="imgspc"></span>
                            </li>
                            <li class="pad0">
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                                            <!--<img src="images/button.png">-->
                                            <span class="glyphicon glyphicon-th"></span>
                                        </button>
                                    <ul class="dropdown-menu dropdown-user  menu_list">
                                        <li>
                                            <a href="#"><img src="images/new_order.png" class=" PADDRIHT15 PADDLEFT9"> User Profile</a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Settings</a>
                                        </li>
                                        <li ng-click="headerControllerScope.logout()">
                                            <a><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <ul class="config_fld resp_menus">
                            <!-- <li>
                <span><img src="images/message_box.png" class="message_box"></span>
            </li> -->
                            <li>
                                <span class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                     <!-- <img src="images/button.png"> -->
                    <span class="glyphicon glyphicon-th" style="font-size: 21.42px;"></span></button>
                                <ul class="dropdown-menu dropdown-user  menu_list">
                                    <li>
                                        <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> User Profile</a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Settings</a>
                                    </li>
                                    <li ng-click="headerControllerScope.logout(user)">
                                        <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Logout</a>
                                    </li>
                                </ul>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bodyContainer row">
            <div class="leftMenuParent responsive_hide height600 col-lg-2 col-md-2 col-sm-3 col-xs-5 padd0">
                <ng-include src="'templates/menu.html'"></ng-include>

            </div>
            <div class="rightParentDiv col-lg-10 col-md-10 col-sm-9 col-xs-12 padd0">
                <div class="rightContainer">
                    <div class="pageTitleParent">
                        <div class="pageTitletextContainer">View Customer</div>


                        <div class="innerdivContainer red-icon create-employee">
                            <div class="row">
                                <div class="input_section">
                                    <div class="text-right col-lg-12 col-md-12 col-xs-12 col-sm-12 responsive_textCenter responsivemargin_top10">
                                        <a href="#"><button class="activeBtn btn" type="button">Edit</button></a>
                                        <a href="#"><button class="activeBtn btn" type="button">Edit</button></a>
                                    </div>
                                    <div class="col-lg-1 col-md-12 col-xs-12 col-sm-12 padd0 responsive_textCenter ">
                                        <img src="images/profile.png" class="responsivemargin_top10">
                                    </div>
                                    <div class="responsive_textCenter">
                                        <a href="#" class="anchor_text">Katari Lokesh</a><span class="pipe_text">|</span>
                                        <span class="span_text">Software Engineer</span>

                                    </div>
                                    <div class="col-lg-8">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd0">
                                                <ul class="padd0 left_text">
                                                    <li>Country :</li>
                                                    <li>State :</li>
                                                    <li>Customer Name : </li>
                                                    <li>Customer Type : </li>
                                                    <li>Address 1 : </li>
                                                    <li>Address 2 : </li>
                                                    <li>City : </li>
                                                    <li>Zip : </li>
                                                    <li>Contact Number : </li>
                                                    <li>Email : </li>
                                                    <li>Website :</li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd0">
                                                <ul class="padd0 right_text">
                                                    <li>India</li>
                                                    <li>Karnataka</li>
                                                    <li>Lokesh</li>
                                                    <li>Karnataka</li>
                                                    <li>Hsr Layout</li>
                                                    <li>Bangalore</li>
                                                    <li>Bangalore</li>
                                                    <li>560 106</li>
                                                    <li>9574123658</li>
                                                    <li>lkatari@saptalabs.com</li>
                                                    <li>Saptalabs.com</li>
                                                </ul>
                                            </div>
                                        </div>



                                    </div>


                                </div>
                            </div>
                            <div class="row" ng-repeat="customer in customerControllerScope.customerList">
                                <div class="input_section">
                                    <div class="text-right col-lg-12 col-md-12 col-xs-12 col-sm-12 responsive_textCenter responsivemargin_top10">
                                        <button class="activeBtn btn" type="button" ng-click="customerControllerScope.editCustomer(customer.id)">Edit</button>
                                        <button class="activeBtn btn" type="button" ng-click="customerControllerScope.deleteCustomer(customer.id)">Delete</button>
                                    </div>
                                    <div class="col-lg-1 col-md-12 col-xs-12 col-sm-12 padd0 responsive_textCenter ">
                                        <img src="images/profile.png" class="responsivemargin_top10">
                                    </div>
                                    <div class="responsive_textCenter">
                                        <span class="anchor_text">{{customer.name}}</span>
                                        <span class="pipe_text">|</span>
                                        <span class="span_text">{{customer.customerType}}</span>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd0">
                                                <ul class="padd0 left_text">
                                                    <li>Customer Name : </li>
                                                    <li>Customer Type : </li>
                                                    <li>Country : </li>
                                                    <li>State : </li>
                                                    <li>Address 1 : </li>
                                                    <li>Address 2 : </li>
                                                    <li>City : </li>
                                                    <li>Zip : </li>
                                                    <li>Contact Number : </li>
                                                    <li>Email : </li>
                                                    <li>Website :</li>
                                                    <li>Status :</li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd0">
                                                <ul class="padd0 right_text">
                                                    <li>{{customer.name}}</li>
                                                    <li>{{customer.customerType}}</li>
                                                    <li>{{customer.country}}</li>
                                                    <li>{{customer.state}}</li>
                                                    <li>{{customer.addressLine1}}</li>
                                                    <li>{{customer.addressLine2}}</li>
                                                    <li>{{customer.city}}</li>
                                                    <li>{{customer.zip}}</li>
                                                    <li>{{customer.contactNo}}</li>
                                                    <li>{{customer.email}}</li>
                                                    <li>{{customer.website}}</li>
                                                    <li>{{customer.status}}</li>
                                                </ul>
                                            </div>
                                        </div>



                                    </div>


                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>