<div id="wrapper">
    <div class="pageContainer">
        <div class="row back_clr headerheight">
            <div class="headerContainer row">
                <div class="leftImg_logo col-lg-2 col-md-2 col-sm-3 col-xs-5">

                    <div class="toggleMenuContainer">
                        <i class="fa fa-bars menuIcons" aria-hidden="true"></i>
                    </div>

                    <div class="headerLog"><img src="images/logo.png" class="medium_width100 logo_class"> </div>
                </div>
                <div class="headerRight col-lg-10 col-md-10 col-sm-9 col-xs-7">
                    <div class="headerLeftContainer deskTopView col-lg-6 col-md-6 col-sm-6 col-sm-6 padd0">
                        <span class="headerHeading capitalizeText">View Employee</span>
                    </div>
                    <div class="width100p col-lg-6 col-md-6 col-sm-6 col-sm-6 padd0">
                        <ul class="config_fld deskTopView">
                            <!-- <li>
                <span><img src="images/message_box.png" class="message_box"></span>
            </li> -->
                            <li>
                            </li>
                            <li>
                                <span><img src="images/User.png" class="imgspc"></span>
                            </li>
                            <li class="pad0">
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                                            <!--<img src="images/button.png">-->
                                            <span class="glyphicon glyphicon-th"></span>
                                        </button>
                                    <ul class="dropdown-menu dropdown-user  menu_list">
                                        <li>
                                            <a href="#"><img src="images/new_order.png" class=" PADDRIHT15 PADDLEFT9"> User Profile</a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Settings</a>
                                        </li>
                                        <li ng-click="headerControllerScope.logout()">
                                            <a><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <ul class="config_fld resp_menus">
                            <!-- <li>
                <span><img src="images/message_box.png" class="message_box"></span>
            </li> -->
                            <li>
                                <span class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                     <!-- <img src="images/button.png"> -->
                    <span class="glyphicon glyphicon-th" style="font-size: 21.42px;"></span></button>
                                <ul class="dropdown-menu dropdown-user  menu_list">
                                    <li>
                                        <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> User Profile</a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Settings</a>
                                    </li>
                                    <li ng-click="headerControllerScope.logout(user)">
                                        <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Logout</a>
                                    </li>
                                </ul>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bodyContainer row">
            <div class="leftMenuParent responsive_hide dashHeight600 col-lg-2 col-md-2 col-sm-3 col-xs-5 padd0">
                <ng-include src="'templates/menu.html'"></ng-include>
            </div>
            <div class="rightParentDiv col-lg-10 col-md-10 col-sm-9 col-xs-12 padd0">
                <div class="rightContainer">
                    <div class="pageTitleParent">
                        <div class="pageTitletextContainer">View Employee</div>
                        <div class="innerdivContainer red-icon create-employee">
                            <div class="row" class="">
                                <div class="input_section">
                                    <div class="text-right col-lg-12 col-md-12 col-xs-12 col-sm-12 responsive_textCenter responsivemargin_top10">
                                        <a href="#"><button class="activeBtn btn" type="button">Edit</button></a>
                                        <a href="#"><button class="activeBtn btn" type="button">Edit</button></a>
                                    </div>
                                    <div class="col-lg-1 padd0 responsive_textCenter ">
                                        <img src="images/profile.png" class="responsivemargin_top10">
                                    </div>
                                    <div class="responsive_textCenter">
                                        <span class="anchor_text">Katari Lokesh<span><span class="pipe_text">|</span>
                                        <span class="span_text">Software Engineer</span>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-6 padd0">
                                                <ul class="padd0 left_text">
                                                    <li>Work Location :</li>
                                                    <li>Employee ID :</li>
                                                    <li>First Name : </li>
                                                    <li>Middle Name : </li>
                                                    <li>Last Name : </li>
                                                    <li>Personal Contact : </li>
                                                    <li>Primary Contact : </li>
                                                    <li>Company Email : </li>
                                                    <li>Personal Email : </li>
                                                    <li>Gender : </li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-7 col-xs-6 padd0">
                                                <ul class="padd0">
                                                    <li>Bangalore</li>
                                                    <li>10322</li>
                                                    <li>Katari</li>
                                                    <li>Lokesh</li>
                                                    <li>L</li>
                                                    <li>9036995388</li>
                                                    <li>9036995388</li>
                                                    <li>lkatari@saptalabs.com</li>
                                                    <li>lkatari@gmail.com</li>
                                                    <li>Male</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ng-repeat="employee in employeeControllerScope.employeeList" -->
                            <div class="row">
                                <div class="input_section">
                                    <div class="text-right col-lg-12 col-md-12 col-xs-12 col-sm-12 responsive_textCenter responsivemargin_top10">
                                        <button class="activeBtn btn" ng-click="employeeControllerScope.goToEditEmployee(employee.employeeId)">Edit</button>
                                        <button class="activeBtn btn" ng-click="employeeControllerScope.deleteEmployee(employee.employeeId)">Delete</button>
                                    </div>
                                    <div class="col-lg-1 col-sm-12 col-md-12 col-xs-12 padd0 responsive_textCenter ">
                                        <img src="images/profile.png" class="responsivemargin_top10">
                                    </div>
                                    <div class="responsive_textCenter">
                                        <span class="anchor_text">{{employee.firstName}} {{employee.middleName}} {{employee.lastName}}</span>
                                        <span class="pipe_text">|</span>
                                        <span class="span_text">{{employee.title}}</span>

                                    </div>
                                    <div class="col-lg-8">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-6 padd0">
                                                <ul class="padd0 left_text">
                                                    <li>Work Location :</li>
                                                    <li>Employee ID :</li>
                                                    <li>First Name : </li>
                                                    <li>Middle Name : </li>
                                                    <li>Last Name : </li>
                                                    <li>Title : </li>
                                                    <li>Job Description : </li>
                                                    <li>Employee Type : </li>
                                                    <li>Department : </li>
                                                    <li>Reporting Employee Name : </li>
                                                    <li>Gender : </li>
                                                    <li>Personal Contact : </li>
                                                    <li>Primary Contact : </li>
                                                    <li>Company Email : </li>
                                                    <li>Personal Email : </li>
                                                    <li>PAN No : </li>
                                                    <li>Aadhar ID : </li>
                                                    <li>Birth Date : </li>
                                                    <li>Joining Date : </li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-7 col-xs-6 padd0">
                                                <ul class="padd0">
                                                    <li>{{employee.workLocation}}</li>
                                                    <li>{{employee.employeeId}}</li>
                                                    <li>{{employee.firstName}}</li>
                                                    <li>{{employee.middleName}}</li>
                                                    <li>{{employee.lastName}}</li>
                                                    <li>{{employee.title}}</li>
                                                    <li>{{employee.jobDescription}}</li>
                                                    <li>{{employee.employeeType}}</li>
                                                    <li>{{employee.department}}</li>
                                                    <li>{{employee.reportingEmployeeName}}</li>
                                                    <li>{{employee.gender}}</li>
                                                    <li>{{employee.emergencyNumber}}</li>
                                                    <li>{{employee.primaryNumber}}</li>
                                                    <li>{{employee.companyEmail}}</li>
                                                    <li>{{employee.emergencyEmail}}</li>
                                                    <li>{{employee.panNo}}</li>
                                                    <li>{{employee.adharId}}</li>
                                                    <li>{{employee.birthday}}</li>
                                                    <li>{{employee.startDate}}</li>
                                                </ul>
                                            </div>
                                        </div>



                                    </div>


                                </div>
                                <hr>

                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>