
    <div id="wrapper">
        <div class="pageContainer">
            <div class="row back_clr headerheight">
                <div class="headerContainer row">
                    <div class="leftImg_logo col-lg-2 col-md-2 col-sm-3 col-xs-5">
                        
                        <div class="toggleMenuContainer">
                            <i class="fa fa-bars menuIcons" aria-hidden="true"></i>
                        </div>
                       
                        <div class="headerLog"><img src="images/logo.png" class="medium_width100 logo_class"> </div>
                    </div>
                    <div class="headerRight col-lg-10 col-md-10 col-sm-9 col-xs-7">
                        <div class="headerLeftContainer deskTopView col-lg-6 col-md-6 col-sm-6 col-sm-6 padd0">
                            <span class="headerHeading capitalizeText">View Lead</span>
                        </div>
                        <div class="width100p col-lg-6 col-md-6 col-sm-6 col-sm-6 padd0">
                            <ul class="config_fld deskTopView">
                                <!-- <li>
                <span><img src="images/message_box.png" class="message_box"></span>
            </li> -->
                                <li>
                                </li>
                                <li>
                                    <span><img src="images/User.png" class="imgspc"></span>
                                </li>
                                <li class="pad0">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                                            <!--<img src="images/button.png">-->
                                            <span class="glyphicon glyphicon-th"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-user  menu_list">
                                            <li>
                                                <a href="#"><img src="images/new_order.png" class=" PADDRIHT15 PADDLEFT9"> User Profile</a>
                                            </li>
                                            <li>
                                                <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Settings</a>
                                            </li>
                                            <li ng-click="headerControllerScope.logout()">
                                                <a><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Logout</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <ul class="config_fld resp_menus">
                                <!-- <li>
                <span><img src="images/message_box.png" class="message_box"></span>
            </li> -->
                                <li>
                                    <span class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                     <!-- <img src="images/button.png"> -->
                    <span class="glyphicon glyphicon-th" style="font-size: 21.42px;"></span></button>
                                    <ul class="dropdown-menu dropdown-user  menu_list">
                                        <li>
                                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> User Profile</a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Settings</a>
                                        </li>
                                        <li ng-click="headerControllerScope.logout(user)">
                                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Logout</a>
                                        </li>
                                    </ul>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bodyContainer row">
                  <div class="leftMenuParent responsive_hide height600 col-lg-2 col-md-2 col-sm-3 col-xs-5 padd0">
                  <ng-include src="'templates/menu.html'"></ng-include>
                
                </div>
                <div class="rightParentDiv col-lg-10 col-md-10 col-sm-9 col-xs-12 padd0">
                    <div class="rightContainer">
                        <div class="pageTitleParent">
                            <div class="pageTitletextContainer">View Lead</div>
                            
                            
                             <div class="innerdivContainer red-icon create-employee">
                                <div class="row">

                                    <div class="input_section">
                                   
                                   
                                    <div class="margin_bottom100">
                                     <ul class="nav nav-tabs borderNone">
                                    <li class="active"><a data-toggle="tab" data-target="#home"><i class="fa fa-sticky-note-o padd_right5" aria-hidden="true"></i>New Note</a></li>
                                    <li><a data-toggle="tab"  data-target="#menu2"><i class="fa fa-envelope padd_right5" aria-hidden="true"></i>Email</a></li>
                                    <li><a data-toggle="tab"  data-target="#menu3"><i class="fa fa-phone padd_right5" aria-hidden="true"></i> Call</a></li>
                                    <li><a data-toggle="tab"  data-target="#menu4"> <i class="fa fa-plus padd_right5" aria-hidden="true"></i> Log Activity</a></li>
                                    <li><a data-toggle="tab"  data-target="#menu3"> <i class="fa fa-tasks padd_right5" aria-hidden="true"></i> Create Task</a></li>
                                    <li><a data-toggle="tab"  data-target="#menu3"><i class="fa fa-calendar padd_right5" aria-hidden="true"></i> Shedule</a></li>
                                  </ul>
                                   <div class="tab-content">
                                    <div id="home" class="tab-pane fade in active">
                                     <textarea class="width100 height200"></textarea>
                                     <div class="tab_btns">
                                            <a href="#!/projects"><button class="defaultBtn" type="button">Decline</button></a>
                                              <a href="#!/projects"><button class="activeBtn" type="button">Save</button></a>
                                        </div>
                                    </div>
                                    <div id="menu1" class="tab-pane fade">
                                       <textarea class="width100 height200"></textarea>
                                     <div class="tab_btns">
                                            <a href="#!/projects"><button class="defaultBtn" type="button">Decline</button></a>
                                              <a href="#!/projects"><button class="activeBtn" type="button">Save</button></a>
                                        </div>
                                    </div>
                                    <div id="menu2" class="tab-pane fade">
                                      <textarea class="width100 height200"></textarea>
                                     <div class="tab_btns">
                                            <a href="#!/projects"><button class="defaultBtn" type="button">Decline</button></a>
                                              <a href="#!/projects"><button class="activeBtn" type="button">Save</button></a>
                                        </div>
                                    </div>
                                    <div id="menu3" class="tab-pane fade">
                                       <textarea class="width100 height200"></textarea>
                                     <div class="tab_btns">
                                            <a href="#!/projects"><button class="defaultBtn" type="button">Decline</button></a>
                                              <a href="#!/projects"><button class="activeBtn" type="button">Save</button></a>
                                        </div>
                                    </div>
                                     <div id="menu4" class="tab-pane fade">
                                       <textarea class="width100 height200"></textarea>
                                     <div class="tab_btns">
                                            <a href="#!/projects"><button class="defaultBtn" type="button">Decline</button></a>
                                              <a href="#!/projects"><button class="activeBtn" type="button">Save</button></a>
                                        </div>
                                    </div>
                                     <div id="menu5" class="tab-pane fade">
                                       <textarea class="width100 height200"></textarea>
                                     <div class="tab_btns">
                                            <a href="#!/projects"><button class="defaultBtn" type="button">Decline</button></a>
                                              <a href="#!/projects"><button class="activeBtn" type="button">Save</button></a>
                                        </div>
                                    </div>
                                  </div>
                                  </div>
                                   <div class="text-right col-lg-12 col-md-12 col-xs-12 col-sm-12 responsive_textCenter responsivemargin_top10">
                                        <a href="#"><button class="activeBtn btn" type="button">Edit</button></a>
                                        <a href="#"><button class="activeBtn btn" type="button">Edit</button></a>
                                    </div>
                                    <div class="col-lg-1 padd0 responsive_textCenter ">
                                        <img src="images/profile.png" class="responsivemargin_top10">
                                    </div>
                                    <div class="responsive_textCenter">
                                           <a href="#" class="anchor_text">Katari Lokesh</a><span class="pipe_text">|</span><span class="span_text">Software Engineer</span>

                                       </div> 
                                    <div class="col-lg-8">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd0">
                                                <ul class="padd0 left_text">
                                                    <li>Lead Name :</li>
                                                    <li>Lead Status :</li>
                                                    <li>Lead Source :  </li>
                                                    <li>Lead Industry :  </li>
                                                    <li>Mobile Number :  </li>
                                                    <li>Phone Number :  </li>
                                                    <li>Email :  </li>
                                                    <li>Address :  </li>
                                                    <li>Comment :  </li>
                                                </ul>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd0">
                                                    <ul class="padd0 right_text">
                                                       <li>Crm</li>
                                                        <li>Active</li>
                                                        <li>Active</li>
                                                        <li>Active</li>
                                                        <li>9036995388</li>
                                                        <li>9036995388</li>
                                                        <li>lkatari@saptalabs.com</li>
                                                        <li>Bangalore</li>
                                                        <li>Success</li>
                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                      
                                        
                                        
                                    </div>
                                    
                                    
                                </div>
                            </div>
                            
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
