
    <div id="wrapper">
        <div class="pageContainer">
            <div class="row back_clr headerheight">
                <div class="headerContainer row">
                    <div class="leftImg_logo col-lg-2 col-md-2 col-sm-3 col-xs-5">
                        
                        <div class="toggleMenuContainer">
                            <i class="fa fa-bars menuIcons" aria-hidden="true"></i>
                        </div>
                        
                        <div class="headerLog"><img src="images/logo.png" class="medium_width100 logo_class"> </div>
                    </div>
                     <div class="headerRight col-lg-10 col-md-10 col-sm-9 col-xs-7">
                        <div class="headerLeftContainer deskTopView col-lg-6 col-md-6 col-sm-6 col-sm-6 padd0">
                            <span class="headerHeading capitalizeText">View Vendor</span>
                        </div>
                        <div class="width100p col-lg-6 col-md-6 col-sm-6 col-sm-6 padd0">
                            <ul class="config_fld deskTopView">
                                <!-- <li>
                <span><img src="images/message_box.png" class="message_box"></span>
            </li> -->
                                <li>
                                </li>
                                <li>
                                    <span><img src="images/User.png" class="imgspc"></span>
                                </li>
                                <li class="pad0">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                                            <!--<img src="images/button.png">-->
                                            <span class="glyphicon glyphicon-th"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-user  menu_list">
                                            <li>
                                                <a href="#"><img src="images/new_order.png" class=" PADDRIHT15 PADDLEFT9"> User Profile</a>
                                            </li>
                                            <li>
                                                <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Settings</a>
                                            </li>
                                            <li ng-click="headerControllerScope.logout()">
                                                <a><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Logout</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <ul class="config_fld resp_menus">
                                <!-- <li>
                <span><img src="images/message_box.png" class="message_box"></span>
            </li> -->
                                <li>
                                    <span class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                     <!-- <img src="images/button.png"> -->
                    <span class="glyphicon glyphicon-th" style="font-size: 21.42px;"></span></button>
                                    <ul class="dropdown-menu dropdown-user  menu_list">
                                        <li>
                                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> User Profile</a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Settings</a>
                                        </li>
                                        <li ng-click="headerControllerScope.logout(user)">
                                            <a href="#"><img src="images/new_order.png" class="PADDRIHT15 PADDLEFT9"> Logout</a>
                                        </li>
                                    </ul>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bodyContainer row">
                  <div class="leftMenuParent responsive_hide height600 col-lg-2 col-md-2 col-sm-3 col-xs-5 padd0">
                  <ng-include src="'templates/menu.html'"></ng-include>
                
                </div>
                <div class="rightParentDiv col-lg-10 col-md-10 col-sm-9 col-xs-12 padd0">
                    <div class="rightContainer">
                        <div class="pageTitleParent">
                            <div class="pageTitletextContainer">View Vendor</div>
                            
                            
                             <div class="innerdivContainer red-icon create-employee">
                                <div class="row">
                                    <div class="input_section">
                                    <div class="text-right col-lg-12 col-md-12 col-xs-12 col-sm-12 responsive_textCenter responsivemargin_top10">
                                        <a href="#"><button class="activeBtn btn" type="button">Edit</button></a>
                                        <a href="#"><button class="activeBtn btn" type="button">Edit</button></a>
                                    </div>
                                    <div class="col-lg-1 padd0 responsive_textCenter ">
                                        <img src="images/profile.png" class="responsivemargin_top10">
                                    </div>
                                    <div class="responsive_textCenter">
                                           <a href="#" class="anchor_text">Katari Lokesh</a><span class="pipe_text">|</span><span class="span_text">Software Engineer</span>

                                       </div> 
                                    <div class="col-lg-8">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd0">
                                                <ul class="padd0 left_text">
                                                   <li>Work Location :</li>
                                                    <li>Employee ID :</li>
                                                    <li>First Name :  </li>
                                                    <li>Middle Name :  </li>
                                                    <li>Last Name :  </li>
                                                    <li>Personal Contact :  </li>
                                                    <li>Primary Contact :  </li>
                                                    <li>Company Email :  </li>
                                                    <li>Personal Email :  </li>
                                                    <li>Gender :  </li>
                                                    <li>Aadhar Id :</li>
                                                    <li>PAN NO :</li>
                                                    <li>Birth Date :</li>
                                                    <li>Employee Type :</li>
                                                    <li>Reporting To :  </li>
                                                    <li>Department :  </li>
                                                    <li>Title  :  </li>
                                                    <li>Job Description :  </li>
                                                    <li>Start Date :  </li>
                                                </ul>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padd0">
                                                    <ul class="padd0 right_text">
                                                       <li>Bangalore</li>
                                                        <li>10322</li>
                                                        <li>Katari</li>
                                                        <li>Lokesh</li>
                                                        <li>L</li>
                                                        <li>9036995388</li>
                                                        <li>9036995388</li>
                                                        <li>lkatari@saptalabs.com</li>
                                                        <li>lkatari@gmail.com</li>
                                                        <li>Male</li>
                                                        <li>0044 4356 7090 0051</li>
                                                        <li>ABXE008E</li>
                                                        <li>10/08/1993</li>
                                                        <li>Fulltime Salaries</li>
                                                        <li>Manager</li>
                                                        <li>Developer</li>
                                                        <li>Software Enginner</li>
                                                        <li>Software Developer</li>
                                                        <li>01/01/2017</li>
                                                    </ul>
                                                </div>
                                            </div>
                                      
                                        
                                        
                                    </div>
                                    
                                    
                                </div>
                            </div>
                            
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
